src/InfluxDB/sunshare_nodered_simulateur_modifie.json
[{"id":"cbc49771.e54a5","type":"tab","label":"Simulé","disabled":false,"info":""},{"id":"6fbbeb85.d228a4","type":"ui_text","z":"cbc49771.e54a5","tab":"966190e1.e4c8f8","name":"Date","group":"9603998f.32be8","order":1,"format":"{{msg.payload}}","x":1050,"y":460,"wires":[]},{"id":"4a0191f2.3b8658","type":"function","z":"cbc49771.e54a5","name":"TICserie","func":"// Decodage trames LINKY mode STANDARD - www.sunshare.fr\n// Objectif script NodeRed\n\n// fichier décrivant la TIC Enedis-NOI-CPT_54E\n// ADSC 12 // DATE 13 // LTARF 16 // EAST 9 Wh // EAIT 9 Wh \n// URMS1 3 V //PREF 2 kVA // SINSTS 5 VA // PRM 14\n\n//passage de la trame en variable\nvar trame_tic=msg.payload;\nvar SnSrIdxObj = flow.get('SnSrIdxObj');//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrObj = {};\n\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n\n//recherche des chaines, passage en nombres\nvar tADSC=\"ADSC\"\nvar lADSC=trame_tic.indexOf(\"ADSC\")+tADSC.length+1;\nvar ADSC=trame_tic.substring(lADSC,lADSC+12);\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\")+tDATE.length+1;\nvar DATE_label=trame_tic.substring(lDATE,lDATE+1);\nvar DATE=\"20\"+trame_tic.substring(lDATE+1,lDATE+13);\nvar tLTARF=\"LTARF\"\nvar lLTARF=trame_tic.indexOf(\"LTARF\")+tLTARF.length+1;\nvar LTARF=trame_tic.substring(lLTARF,lLTARF+16);\n\nif (LTARF.indexOf(\"BAS\",0)>0) {var LTARF='BASE'; } //BASE chez EDF, ENERCOOP....diffère selon chaque fournisseur\n        else if (LTARF.indexOf(\"HC.\",0)>0) {var LTARF='HC/HP'; } //HC.. HP/HC chef EDF\n        else if (LTARF.indexOf(\"EJP\",0)>0) {var LTARF='EJP'; } //EJP chez EDF\n        else if (LTARF.indexOf(\"BBR\",0)>0) {var LTARF='HC/HP'; } //TEMPO chez EDF\n        else {var LTARF='INCONNU'; } //\n    \nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\")+tEAST.length+1;\nvar EAST=trame_tic.substring(lEAST,lEAST+9);\nvar nEAST=parseInt(EAST);\n\nvar tEAIT=\"EAIT\"\nvar EAIT=\"NO INJECT\"\nif (trame_tic.indexOf(\"EAIT\",0)>0) \n\t{var lEAIT=trame_tic.indexOf(\"EAIT\")+tEAIT.length+1;\n\tvar EAIT=trame_tic.substring(lEAIT,lEAIT+9);\n\t} \nvar nEAIT=parseInt(EAIT);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\")+tURMS1.length+1;\nvar URMS1=trame_tic.substring(lURMS1,lURMS1+3);\nvar nURMS1=parseInt(URMS1);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\")+tPREF.length+1;\nvar PREF=trame_tic.substring(lPREF,lPREF+2);\nvar nPREF=parseInt(PREF);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\")+tSINSTS.length+1;\nvar SINSTS=trame_tic.substring(lSINSTS,lSINSTS+5);\nvar nSINSTS=parseInt(SINSTS);\nvar tSINSTI=\"SINSTI\"\nvar lSINSTI=trame_tic.indexOf(\"SINSTI\")+tSINSTI.length+1;\nvar SINSTI=trame_tic.substring(lSINSTI,lSINSTI+5);\nvar nSINSTI=parseInt(SINSTI);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\")+tPRM.length+1;\nvar PRM=trame_tic.substring(lPRM,lPRM+14);\nvar nPRM=parseInt(PRM);\n\nvar SimulAnnee = DATE.substring(0,4);\nvar SimulMois = parseInt(DATE.substring(4,6));\nvar SimulJour = DATE.substring(6,8);\nvar SimulHours = DATE.substring(8,10);\nvar SimulMin = DATE.substring(10,12);\nvar SimulSec = DATE.substring(12,14);\n\nSnSrIdxObj.TICtime = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\nSnSrIdxObj.TICstamp = SnSrIdxObj.TICtime.getTime(); \nSnSrIdxObj.tarif = LTARF;\nSnSrIdxObj.soutiridx = nEAST; \nSnSrIdxObj.injectidx = nEAIT; \nSnSrIdxObj.Uinst = nURMS1; \nSnSrIdxObj.PuisRef = nPREF; \nSnSrIdxObj.PuisInst = Math.max(nSINSTS, nSINSTI); \nSnSrIdxObj.nPRM = nPRM; \n\nflow.set('SnSrIdxObj',SnSrIdxObj);\n\n//SnSrObj.timenow = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\n//SnSrObj.tarif = LTARF; SnSrObj.SoutirIdx = nEAST; SnSrObj.InjectIdx = nEAIT; SnSrObj.Uinst = nURMS1; SnSrObj.PuisRef = nPREF; SnSrObj.PuisInst = nSINSTS; SnSrObj.nPRM = nPRM; \n//SnSrIdx [0] = SnSrObj.timenow; \n//SnSrIdx [1] = nEAST;\n//SnSrIdx [2] = nEAIT;\n//flow.set('SnSrIdx', SnSrIdx);\n//msg.SnSrObj = SnSrObj;\nmsg.timenow = SnSrIdxObj.TICtime; //SnSrObj.timenow;\n\nmsg0.payload= SnSrIdxObj;\n//msg0.payload = [ADSC,DATE_label,DATE,LTARF,nEAST,nEAIT,nURMS1,nPREF,nSINSTS,nPRM];\nmsg1.payload = SnSrIdxObj.Uinst;\nmsg1.topic = 'tension'\nmsg2.payload = SnSrIdxObj.PuisInst;\nmsg2.topic = 'puissance'\nmsg3.payload = (SnSrIdxObj.soutiridx/1000).toFixed(2); // Math.round(SnSrIdxObj.soutiridx/100)/10; //arrondi au kWh avec 1 digit //nEAST.toString().substring(2)/1000;\nmsg3.topic = 'SoutirIdx'\nmsg4.payload = (SnSrIdxObj.injectidx/1000).toFixed(2); // Math.round(SnSrIdxObj.injectidx/100)/10; //arrondi au kWh avec 1 digit //nEAIT.toString().substring(2)/1000;\nmsg4.topic = 'InjectIdx'\nif (isNaN(nEAIT)) {msg4.payload ='LINKY_HS';}\n\nreturn [msg0, msg1, msg2, msg3, msg4];\n","outputs":5,"noerr":0,"x":799,"y":273.0000305175781,"wires":[["1682d278.e7034e"],["c0cfd2cc.6b291"],["5e5e1cb7.5bf1ac"],["b82c4e7e.6ac5a8"],["7f6ad0e2.906a58"]]},{"id":"9dae7597.db1278","type":"ui_gauge","z":"cbc49771.e54a5","name":"","group":"52a9d9ea.1e9a18","order":0,"format":"{{value}}","min":"215","max":"240","x":1150,"y":220,"wires":[]},{"id":"9426af99.49c548","type":"ui_gauge","z":"cbc49771.e54a5","name":"","group":"52a9d9ea.1e9a18","order":0,"format":"{{value}}","min":"100","max":"2000","x":1150,"y":260,"wires":[]},{"id":"391486ca.bd451a","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]},{"id":"60611fb7.2fb76","type":"function","z":"cbc49771.e54a5","name":"IMPserie","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nif (msg.simul == \"SIMULATION\") \n    {timeNow = new Date(msg.timenow);}\n    else {var timeNow = new Date();}\n        \n//var SnSrIdx = flow.get('SnSrIdx');\nvar SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n\nvar lProdIdx = Math.round(msg.count);\n//var lProdIdx = Math.round(SnSrSimul.prodidx);//msg.count);\n\n \nSnSrIdxObj.IMPstamp = timeNow.getTime(); //SnSrIdx[3]\nSnSrIdxObj.IMPtime = timeNow; //SnSrIdx[3]} //\n\nSnSrIdxObj.prodidx = lProdIdx; //SnSrIdx[4]\nflow.set ('SnSrIdxObj', SnSrIdxObj); //flow.set('SnSrIdx', SnSrIdx);\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, lProdIdx, timeNow];\nmsg3.topic=\"IMP15\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":640,"y":328,"wires":[["fed10d24.8f74f8"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"fed10d24.8f74f8","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":380,"wires":[["4fff0e2b.9b9d18"]]},{"id":"b82c4e7e.6ac5a8","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":300,"wires":[["ec448645.1f8aa"]]},{"id":"2b0d8f3d.a172e","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":630,"y":240,"wires":[]},{"id":"e138db68.22e718","type":"function","z":"cbc49771.e54a5","name":"flow & global init","func":"//global.set (\"gAUTOC30\", null);\n//global.set (\"gAutoC30\", null);\n//global.set (\"gProd30\", null);\n//global.set (\"gInject30\", null);\n//global.set (\"gProdIdx\", null);\n//global.set (\"gSoutir30\", null);\n//global.set (\"gmsg\", null);\n//global.set (\"pTimeStamp\", null);\n//flow.set (\"TICflow\", null);\n//flow.set (\"PROD15\", null);\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar timeNow = new Date(msg.payload);\n\n//var exdate = new Date(timeNow.getTime() - 24*60*60*1000); //la veille\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1; // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n//minutes pour le prochain TIC15\n//var minutes2 = (Math.round(minutes/15)+1)*15-15;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6999999, 6999999, minutes2, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 6999999, minutes2, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null]);\n//flow.set (\"SimulIdx\", [timeNow, 6999999, 6999999, 6999999, 6999999, timeNow, 6999999, 6999999]); //soutir, inject, prod, autoconso\n//flow.set (\"membre\", ['pseudo', 021675051387, 14282923268426, 6, 'BASE', 3]);\n//flow.set (\"SnSrHier\", [exdate, '1er jour', '1er jour', '1er jour', '1er jour', '1er jour', 6999999, 6999999, 6999999]);\nflow.set (\"SnSrCoin\", [9, 0, timeNow.getFullYear()]);\n//flow.set (\"SnSrIdx\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSr15\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n\nflow.set (\"SnSrIdxObj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : 99999});\n//flow.set (\"SnSrStack\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":6999999,\"injectidx\":6999999,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\nflow.set (\"SnSr15Simul\", {\"timestamp\":timeNow.getTime(),\"prodmoyidx\":null,\"prodmaxidx\":null});\nflow.set (\"membre\", {\"pseudo\":'pseudo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3});\nflow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\":'init', \"injecthier\":'init', \"autoconsohier\":'init', \"consohier\":'init', \"prodhier\":'init', \"soutiridx\":'init', \"injectidx\":'init', \"prodidx\":'init'});\nflow.set (\"SnSrSimul\", {\"timestamp\":timeNow.getTime(),\"time\":timeNow,\"soutiridx\":6999999,\"injectidx\":6999999,\"prodidx\":6999999,\"autoconsoidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n//flow.set (\"SnSrTab\", [timeNow.getTime(),6999999,6999999,6999999,6999999,6999999]);\nflow.set (\"SnSr15Obj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : null});\nflow.set (\"onTime\", timeNow);\n\n\nmsg.payload='ok';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"17e7fcad.45803b","type":"inject","z":"cbc49771.e54a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":100,"wires":[["e138db68.22e718"]]},{"id":"c4e1c26e.4fec48","type":"inject","z":"cbc49771.e54a5","name":"Timestamp 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"25","x":140,"y":580,"wires":[["7a7d38f.18d58c8"]]},{"id":"5df9ba1.1779b44","type":"function","z":"cbc49771.e54a5","name":"TICtest","func":"\nvar test = msg.payload.indexOf(\"ADSC\");\nif ((test > 0) && (test < 10))\n    {msg.topic='TICok';\n    msg.timenow = new Date();\n    return msg;}\n    \n//msg.topic = msg.payload.substring(2,6);\n//if (msg.topic == 'ADSC')\n//    {msg.topic='TICok';\n //   return msg;} // sinon le signal TIC est mauvais....Pas de msg\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["2b0d8f3d.a172e","391486ca.bd451a","2180ea06.ca317e"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"f804af2f.9d3bf8","type":"function","z":"cbc49771.e54a5","name":"JourneeHIER","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrHier=flow.get(\"SnSrHier\");\nvar SnSrCoin=flow.get(\"SnSrCoin\");\nvar yesterday = new Date(SnSrHier.yesterday);\n\n//Transmission des éléments pour le bilan de la veille\nmsg0.topic = 'TimeStampHier';\nmsg0.measurement = 'TimeStampHier';\nmsg0.retentionPolicy = '30d';\nmsg0.payload = yesterday.toLocaleDateString() || 0;\nmsg1.topic = 'SoutirageHier';\nmsg1.measurement = 'SoutirageHier';\nmsg1.retentionPolicy = '30d';\nmsg1.payload = SnSrHier.soutirhier/1000 || 0;\nmsg2.topic = 'InjectionHier';\nmsg2.measurement = 'InjectionHier';\nmsg2.retentionPolicy = '30d';\nmsg2.payload = SnSrHier.injecthier/1000 || 0;\nmsg3.topic = 'AutoconsoHier';\nmsg3.measurement = 'AutoconsoHier';\nmsg3.retentionPolicy = '30d';\nmsg3.payload = SnSrHier.autoconsohier/1000 || 0;\nmsg4.topic = 'ProductionHier';\nmsg4.measurement = 'ProductionHier';\nmsg4.retentionPolicy = '30d';\nmsg4.payload = SnSrHier.prodhier/1000 || 0;\nmsg5.topic = 'SnSrCoin';\nmsg5.measurement = 'SnSrCoin';\nmsg5.retentionPolicy = '30d';\nmsg5.payload = SnSrCoin;\n\n//Cas particulier du 1er jour\nvar Dt = new Date().getTime()-yesterday.getTime();\nif (Dt < 24*60*60*1000) \n    {SnSrHier.soutirhier = \"1er jour\";\n    SnSrHier.injecthier = \"1er jour\";\n    SnSrHier.autoconsohier = \"1er jour\";\n    SnSrHier.consohier = \"1er jour\";\n    flow.set('SnSrHier', SnSrHier);\n    msg1.payload = \"1er jour\";\n    msg2.payload = \"1er jour\";\n    msg3.payload = \"1er jour\";\n    msg4.payload = \"1er jour\";\n    }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":770,"y":540,"wires":[["6fbbeb85.d228a4","44a23864.6e125"],["7a8d6327.50dcfc","44a23864.6e125"],["342a6255.a1dfbe","44a23864.6e125"],["22609986.b8e316","44a23864.6e125"],["928b8992.b3898","44a23864.6e125"],["765ab10.1b4aa5"]]},{"id":"22609986.b8e316","type":"ui_text","z":"cbc49771.e54a5","name":"Autoconsommation","group":"9603998f.32be8","order":3,"format":"{{msg.payload}} kWh","x":1010,"y":620,"wires":[]},{"id":"928b8992.b3898","type":"ui_text","z":"cbc49771.e54a5","name":"Production","group":"9603998f.32be8","order":4,"format":"{{msg.payload}} kWh","x":1030,"y":580,"wires":[]},{"id":"342a6255.a1dfbe","type":"ui_text","z":"cbc49771.e54a5","name":"Injection","group":"9603998f.32be8","order":5,"format":"{{msg.payload}} kWh","x":1040,"y":540,"wires":[]},{"id":"3a498819.8d57b8","type":"function","z":"cbc49771.e54a5","name":"SnSr15","func":"\n//jaune #FCFC44 // bleu #1F77B4 // orange #EB7B16 // vert clair #98DF8A // gris #848585 // vert foncé #17A822\n\nvar SnSrIdxObj = RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\n//var SnSrTab = flow.get('SnSrTab');\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\nvar membre = flow.get('membre');\n\n//var SnSrTab = [];\n//SnSrTab[0] = SnSrIdxObj.TICstamp;\n//SnSrTab[1] = SnSrIdxObj.soutiridx;\n//SnSrTab[2] = SnSrIdxObj.injectidx;\n//SnSrTab[3] = SnSrIdxObj.prodidx;\n//SnSrTab[4] = Math.round(SnSrSimul.prodmoyidx);\n//SnSrTab[5] = Math.round(SnSrSimul.prodmaxidx);\n//flow.set('SnSrTab', SnSrTab);\n\nvar soutir = (SnSrIdxObj.soutiridx - SnSr15Obj.soutiridx) || 0;\nvar inject = (SnSrIdxObj.injectidx -  SnSr15Obj.injectidx)  || 0; \nvar prod = (SnSrIdxObj.prodidx - SnSr15Obj.prodidx)  || 0; \nvar consoIMP = (SnSrIdxObj.consoIMPidx - SnSr15Obj.consoIMPidx) || 0;\n\nvar Debug15 = {\"soutir\":soutir, \"inject\":inject, \"prod\":prod, \"conso\":'init',\"autoconso\":'init', \"Pprod\":membre.Pprod, \"Psoutir\":membre.Psoutir};\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(consoIMP) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\n\n// Cas ou LINKY ne remonte pas l'injection, 2e compteur à impulsion\n// On reconstitue un index d'injection à partir de la consommation totale\nif (isNaN(SnSrIdxObj.injectidx))  // && soutir === 0 // LINKY non fonctionnel et journée : soutir = 0 => inject > 0 // (typeof SnSrIdxObj.injectidx != \"number\") \n    {inject = Math.max((prod - consoIMP),0);\n    SnSrIdxObj.injectidx = SnSr15Obj.injectidx + inject;\n    }\n    \n// CAS GENERAL : LINKY fonctionnel remonte injectidx ou soutir > 0 (la nuit)\nvar autoconso = -1 * (prod - inject) || 0; // A VERIFIER cas prod faible (< conso), autoconso != 0\nvar conso = soutir - autoconso; // autoconso < 0\n\nflow.set('SnSr15Obj', SnSrIdxObj); //Au choix avec SnSrTab au dessus\n\nvar soutir = Math.round(1000*60*60*(soutir/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar inject = Math.round(1000*60*60*(inject/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar prod = Math.round(1000*60*60*(prod/(SnSrIdxObj.IMPstamp - SnSr15Obj.IMPstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n//var consoIMP = Math.round(1000*60*60*(inject/(SnSrIdxObj.stamp - SnSr15Obj.TICstamp))); // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar autoconso = Math.round(1000*60*60*(autoconso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar conso = Math.round(1000*60*60*(conso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n\nDebug15.autoconso = autoconso; Debug15.conso = conso; \n\nif ((prod === 0) && (inject > 0))\n    {var alarm = 'Erreur IMPULSION'}\nif ((soutir < 0) || (inject < 0))\n    {var alarm = 'Erreur TIC'}\nif ((prod === 0) && (inject === 0))\n    {var alarm = 'PAS DE Production'}\n\nvar msg0={}; msg1={}; var msg2={}; var msg3={}; var msg4={}; var msg5={}; var msg6={}; var msg7={};\nmsg0.payload = conso;\nmsg0.topic = 'consoCALC';\nmsg0.measurement = 'consoCALC';\nmsg1.payload = prod;\nmsg1.topic = 'prod';\nmsg1.measurement = 'prod';\nmsg2.payload = inject;\nmsg2.topic = 'inject';\nmsg2.measurement = 'inject';\nmsg3.payload = soutir;\nmsg3.topic = 'soutir';\nmsg3.measurement = 'soutir';\nmsg4.payload = autoconso;\nmsg4.topic = 'autoconso';\nmsg4.measurement = 'autoconso';\nmsg5.payload = SnSrIdxObj;\nmsg6.payload = consoIMP;\nmsg6.topic = 'consoIMP';\nmsg6.measurement = 'consoIMP';\nmsg6.debug = Debug15;\nmsg7.payload = inject-soutir;\nmsg7.topic = 'inj-sout';\nmsg7.measurement = 'inj-sout';\n\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];","outputs":8,"noerr":0,"x":680,"y":740,"wires":[["18983e73.2782e2","b48d09b3.a0b14"],["18983e73.2782e2","b48d09b3.a0b14"],["318245b3.ff497a","b48d09b3.a0b14"],["318245b3.ff497a","b48d09b3.a0b14"],["318245b3.ff497a","b48d09b3.a0b14"],["a27c9f2d.7e39d"],["5153be4a.9100f8"],[]]},{"id":"318245b3.ff497a","type":"ui_chart","z":"cbc49771.e54a5","name":"","group":"9718a0cf.95a288","order":0,"interpolate":"linear","nodata":"","removeOlder":"2","removeOlderUnit":"86400","x":890,"y":720,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"5153be4a.9100f8","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","x":910,"y":800,"wires":[]},{"id":"765ab10.1b4aa5","type":"ui_text","z":"cbc49771.e54a5","name":"Tirelire","group":"9603998f.32be8","order":6,"format":"{{msg.payload}} kWh","x":1050,"y":660,"wires":[]},{"id":"7f6ad0e2.906a58","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":340,"wires":[["200f23d6.0268e4"]]},{"id":"ec448645.1f8aa","type":"ui_text","z":"cbc49771.e54a5","name":"SoutirIdx","group":"3b1f5801.e7e958","order":0,"format":"{{msg.payload}} kWh","x":1160,"y":300,"wires":[]},{"id":"200f23d6.0268e4","type":"ui_text","z":"cbc49771.e54a5","name":"InjectIdx","group":"3b1f5801.e7e958","order":0,"format":"{{msg.payload}} kWh","x":1160,"y":340,"wires":[]},{"id":"4fff0e2b.9b9d18","type":"ui_text","z":"cbc49771.e54a5","name":"ProdIdx","group":"3b1f5801.e7e958","order":0,"format":"{{msg.payload}} kWh","x":1160,"y":380,"wires":[]},{"id":"27c824d7.5111bc","type":"function","z":"cbc49771.e54a5","name":"ProdMoy15","func":"//Ajoute une courbe de référence d'une bonne journée sur le graph\n//Prodmoy : courbe de printemps // Prodmax : Courbe dété\n\n//var ProdMoy = flow.get(\"ProdMoy\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSr15Simul = flow.get(\"SnSr15Simul\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\nvar SnSIdxObj = flow.get(\"SnSrIdxObj\");\n//var SnSrTab = flow.get(\"SnSrTab\");\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n\nvar membre = flow.get(\"membre\");\n\nvar msg1={}; var msg2={};\n\nvar prodmoy = Math.round(1000*60*60 * ((SnSrSimul.prodmoyidx - SnSr15Simul.prodmoyidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; // en W (Wh/ms)*1000*60*60//SnSrTab[4];\nvar prodmax = Math.round(1000*60*60 * ((SnSrSimul.prodmaxidx - SnSr15Simul.prodmaxidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; //SnSrTab[5]\n\nif (Math.abs(prodmoy) > membre.Pprod*1000*2) {prodmoy = 0;}\nif (Math.abs(prodmax) > membre.Pprod*1000*2) {prodmax = 0;}\n\nmsg1.payload = Math.round(prodmoy); //SnSr15Simul.prodmoyidx; //Math.round(SimulIdx[6]) - ProdMoy.prodmoy;\nmsg1.topic = 'bon_jour';\nmsg2.payload = Math.round(prodmax); //SnSr15Simul.prodmaxidx; //Math.round(SimulIdx[7]) - ProdMoy.prodmax;\nmsg2.topic = 'prodmax';\n\nSnSrSimul.soutiridx = Math.round(SnSrSimul.soutiridx);\nSnSrSimul.injectidx = Math.round(SnSrSimul.injectidx);\nSnSrSimul.prodidx = Math.round(SnSrSimul.prodidx);\nSnSrSimul.autoconsoidx = Math.round(SnSrSimul.autoconsoidx);\nSnSrSimul.prodmoyidx = Math.round(SnSrSimul.prodmoyidx); //SnSr15Simul.prodmoyidx //SnSrTab[4]\nSnSrSimul.prodmaxidx = Math.round(SnSrSimul.prodmaxidx); //SnSr15Simul.prodmaxidx //SnSrTab[5]\n//flow.set(\"SnSrTab\", SnSrTab);\nflow.set(\"SnSr15Simul\", SnSrSimul);\n\nreturn [msg1]; //ajouter prodmax si necessaire ...prends de la place sur le graphique","outputs":2,"noerr":0,"x":668,"y":653,"wires":[["18983e73.2782e2"],[]]},{"id":"74f6c353.885654","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":613,"y":540,"wires":[["f804af2f.9d3bf8"]]},{"id":"f5642d69.8ccdc","type":"change","z":"cbc49771.e54a5","name":"DeleteVariable","rules":[{"t":"delete","p":"IMP15","pt":"flow"},{"t":"delete","p":"ProdMoy","pt":"flow"},{"t":"delete","p":"SimulIdx","pt":"flow"},{"t":"delete","p":"SnSr15","pt":"flow"},{"t":"delete","p":"SnSrFlow","pt":"flow"},{"t":"delete","p":"SnSrIMP","pt":"flow"},{"t":"delete","p":"SnSrTIC","pt":"flow"},{"t":"delete","p":"SnSrIdx","pt":"flow"},{"t":"delete","p":"SnSrRefCurve","pt":"flow"},{"t":"delete","p":"TIC15","pt":"flow"},{"t":"delete","p":"SnSrTab","pt":"flow"},{"t":"delete","p":"consoIMPidx","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[[]]},{"id":"d6b836c6.5d14","type":"inject","z":"cbc49771.e54a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["f5642d69.8ccdc"]]},{"id":"97b50d74.219438","type":"function","z":"cbc49771.e54a5","name":"INFLUX","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrIdxObj = flow.get('SnSrIdxObj');  //Au choix avec SnSrTab\nvar SnSrSimul = flow.get('SnSrSimul');\nvar membre = flow.get('membre');\n\nmsg.topic = SnSrIdxObj.TICtime;   //Au choix avec SnSrTab \nmsg.payload = \n    [{\n        measurement: \"soutiridx\",\n        fields:{soutiridx: SnSrIdxObj.soutiridx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"injectidx\",\n        fields:{injectidx: SnSrIdxObj.injectidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"prodidx\",\n        fields:{prodidx: SnSrIdxObj.prodidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n    {\n        measurement: \"autoconsoidx\",\n        fields:{autoconsoidx: Math.min((-1 * (SnSrIdxObj.prodidx - SnSrIdxObj.injectidx)), 0)},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    }]\n    \nreturn msg;\n // msg.payload = \n//{ tstamp: stamp2,\n // data: {\n //   Soutir15 : SnSrFlow2[3],\n \n //    Inject15 : SnSrFlow2[4],\n //   Prod15 : SnSrFlow2[8]\n   //   }\n\n\n//return [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":760,"y":440,"wires":[["8823606f.67b9d8"],[],[],[],[],[]]},{"id":"99373c70.c5d86","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":440,"wires":[["97b50d74.219438"]]},{"id":"8823606f.67b9d8","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":420,"wires":[]},{"id":"1682d278.e7034e","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":180,"wires":[]},{"id":"a27c9f2d.7e39d","type":"function","z":"cbc49771.e54a5","name":"ChgtDate","func":"var SnSrIdxObj = msg.payload;\n\nvar timeNow = new Date(SnSrIdxObj.TICtime);\n\n//Changement de jour, total journalier\nvar hours  = timeNow.getHours();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\nif (hours == 23) // mis a jour 4 fois pendant la derniere heure du jour\n    {var SnSrHier = RED.util.cloneMessage(flow.get('SnSrHier'));\n    var exyear = SnSrHier.yesterday.getFullYear();\n    var exdate = SnSrHier.yesterday.getDate();\n    var soutirj = SnSrHier.soutirhier; \n    var injectj = SnSrHier.injecthier;\n    var autoconsoj = SnSrHier.autoconsohier;\n    var consoj = SnSrHier.consohier;\n    var prodj = SnSrHier.prodhier;\n\n    \n        if (exdate != thisdate) // seulement au premier passage\n         {var autoconsoj = 0;\n        var soutirj = 0; \n        var injectj = 0;\n        var prodj = 0;\n        }\n        \n    // soutirage, injection, autoconsommation, consommation, production\n    var autoconsoj = autoconsoj + (SnSrIdxObj.prodidx - SnSrHier.prodidx) - (SnSrIdxObj.injectidx - SnSrHier.injectidx);\n    var soutirj = soutirj + (SnSrIdxObj.soutiridx - SnSrHier.soutiridx);\n    var injectj = injectj + (SnSrIdxObj.injectidx -  SnSrHier.injectidx);\n    var prodj =  prodj + (SnSrIdxObj.prodidx - SnSrHier.prodidx);\n    \n    SnSrHier.yesterday = SnSrIdxObj.TICstamp;\n    SnSrHier.soutirhier = soutirj; //soutir\n    SnSrHier.injecthier = injectj; //inject\n    SnSrHier.autoconsohier = prodj - injectj; //autoconso\n    SnSrHier.consohier = soutirj + prodj - injectj; //conso\n    SnSrHier.prodhier = prodj;  //prod\n    SnSrHier.soutiridx = SnSrIdxObj.soutiridx; //SoutirIdx\n    SnSrHier.injectidx = SnSrIdxObj.injectidx; //InjectIdx\n    SnSrHier.prodidx = SnSrIdxObj.prodidx; //ProdIdx\n\n    flow.set('SnSrHier', SnSrHier);\n\n    var SnSrCoin = flow.get('SnSrCoin');\n    var SnSrPile = injectj - soutirj;\n    SnSrCoin[1] += Math.round(SnSrPile/1000);\n    flow.set('SnSrCoin', SnSrCoin);\n\n    \n    // changement d'année, remise a 0 à 23:00 le 01 janvier\n    \n    if ((exyear +1) == thisyear) \n        {flow.set('SnSrCoin', [SnSrCoin[1], 0, thisyear]);\n        }\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"x":900,"y":760,"wires":[[]]},{"id":"44a23864.6e125","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":540,"wires":[]},{"id":"7a8d6327.50dcfc","type":"ui_text","z":"cbc49771.e54a5","name":"Soutirage","group":"9603998f.32be8","order":2,"format":"{{msg.payload}} kWh","x":1040,"y":500,"wires":[]},{"id":"7a7d38f.18d58c8","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":580,"wires":[["99373c70.c5d86","74f6c353.885654","27c824d7.5111bc","3ab72e56.021752"]]},{"id":"18983e73.2782e2","type":"ui_chart","z":"cbc49771.e54a5","tab":"966190e1.e4c8f8","name":"","group":"9718a0cf.95a288","order":0,"interpolate":"linear","nodata":"","removeOlder":"2","removeOlderUnit":"86400","x":890,"y":680,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"3ab72e56.021752","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":740,"wires":[["3a498819.8d57b8"]]},{"id":"64482385.209424","type":"function","z":"cbc49771.e54a5","name":"blank[]","func":"\nvar blank = []\nmsg.payload = blank;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":620,"wires":[[]]},{"id":"f5a4434b.db4ec","type":"inject","z":"cbc49771.e54a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":610,"y":600,"wires":[["64482385.209424"]]},{"id":"5e5e1cb7.5bf1ac","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1000,"y":260,"wires":[["9426af99.49c548"]]},{"id":"c0cfd2cc.6b291","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1000,"y":220,"wires":[["9dae7597.db1278"]]},{"id":"86891571.1cf0c","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":360,"wires":[["60611fb7.2fb76"]]},{"id":"4c68462b.e4f1e8","type":"inject","z":"cbc49771.e54a5","name":"SIMULstamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"5","x":150,"y":334,"wires":[["ce98ab22.3e00c"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"e213af1.bedbcd","type":"function","z":"cbc49771.e54a5","name":"SIMULtic","func":"\nif (msg.payload == 'IMPULSION') {return;}\n\n//var trame_tic = 'SE      \tFEAST\t006877052\t2EASF01\t006877052\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t\\'EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006877052\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t#IRMS1\t002\t0URMS1\t233\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nvar trame_tic = ' #ADSC\t021675051387\t:VTIC\t02\tJDATE\tE181026224009\t\tANGTF\t      BASE      \t<LTARF\t      BASE      \tFEAST\t006999999\t2EASF01\t006999999\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t&EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006999999\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t\"EAIT\t006999999\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nmsg.topic = null;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6877052, 99, minutes, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 0, minutes, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null])\n\n//var TIC15 = flow.get(\"TIC15\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\n\nvar rand = Math.random();\n\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\");\nvar DATEdebut=trame_tic.substring(lDATE,lDATE+tDATE.length+1);\nvar DATEtout=trame_tic.substring(lDATE,lDATE+tDATE.length+1+13);\n\nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\");\nvar EASTdebut=trame_tic.substring(lEAST,lEAST+tEAST.length+1);\nvar EASTtout=trame_tic.substring(lEAST,lEAST+tEAST.length+1+9);\nvar EAST=trame_tic.substring(lEAST+tEAST.length+1, lEAST+tEAST.length+1+9);\nvar nEAST = parseInt(EAST, 10);\n\nvar tEAIT=\"EAIT\"\nvar lEAIT=trame_tic.indexOf(\"EAIT\");\nvar EAITdebut=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1);\nvar EAITtout=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1+9);\nvar EAIT=trame_tic.substring(lEAIT+tEAIT.length+1, lEAIT+tEAIT.length+1+9);\nvar nEAIT = parseInt(EAIT, 10);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\");\nvar URMS1=trame_tic.substring(lURMS1+tURMS1.length+1,lURMS1+tURMS1.length+1+3);\nvar nURMS1=parseInt(URMS1, 10);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\");\nvar PREF=trame_tic.substring(lPREF+tPREF.length+1,lPREF+tPREF.length+1+2);\nvar nPREF=parseInt(PREF, 10);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\");\nvar SINSTS=trame_tic.substring(lSINSTS+tSINSTS.length+1,lSINSTS+tSINSTS.length+1+5);\nvar nSINSTS=parseInt(SINSTS, 10);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\");\nvar PRM=trame_tic.substring(lPRM+tPRM.length+1,lPRM+tPRM.length+1+14);\n\n// LINKYSTAMP YYMMDDhhmmss\nvar timeNow = new Date(msg.timenow);\nvar annee = timeNow.getFullYear()-2000\nvar mois = timeNow.getMonth()+1 // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate()\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n\nvar LINKYDATE = DATEdebut + \"E\" + timeString ; // Date du jour au format LINKY\nnURMS1 = nURMS1 - 10 + Math.floor(20 * 2 *rand); // variation de +- 20v\n\nnSINSTS = Math.floor(nSINSTS * 2* rand);\nvar t2SINSTS = nSINSTS.toString();\nfor (i=t2SINSTS.length; i<5; i++)\n    {t2SINSTS = '0' + t2SINSTS;}\n\nnEAST = Math.round(SnSrSimul.soutiridx);//SimulIdx[1]);\nvar t2EAST = nEAST.toString();\nfor (i=t2EAST.length; i<9; i++)\n    {t2EAST = '0' + t2EAST;}\n\nnEAIT =  Math.round(SnSrSimul.injectidx);//SimulIdx[2]);\nvar t2EAIT = nEAIT.toString();\nfor (i=t2EAIT.length; i<9; i++)\n    {t2EAIT = '0' + t2EAIT;}\n\n\nvar TICdebut = trame_tic.substring(0, lDATE);\nvar DATEEAST = trame_tic.substring(lDATE+tDATE.length+1+13, lEAST+tEAST.length+1);\nvar EASTEAIT = trame_tic.substring(lEAST+tEAST.length+1+9, lEAIT+tEAIT.length+1);\nvar EAITSINSTS = \"\t#IRMS1\t002\t0URMS1\t\" + nURMS1 + \"\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t\"; \n// \"EASD04\t000000000\t\"EAIT\t695847123\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\nvar SINSTSfin = trame_tic.substring(lSINSTS+tSINSTS.length+1+5, trame_tic.length);\n var LINKYEAST = EASTdebut + t2EAST.toString() ; // un mot\n// on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\ntrame_tic = TICdebut + LINKYDATE + DATEEAST + t2EAST + EASTEAIT + t2EAIT + EAITSINSTS + t2SINSTS + SINSTSfin;\n\n//trame_tic.replace(EASTtout, LINKYEAST);\n//trame_tic.replace(LINKYDATE, DATEtout);\n\n\n// EStimation du surplus injecté ds le réseau\n//var hRAD = pi() / (hours - 12) // heure en radian ??\n//if ((hours <= 20) && (hours >= 6)) \n //   {nEAIT = nEAIT + 2 x Math.sin(hRAD);} // moyenne de 1\n\n// reconstruction de la trame TIC\nmsg.test = [LINKYDATE, PRM, t2EAIT];\nmsg.payload = trame_tic; //[DATEtout, LINKYDATE, EASTtout, LINKYEAST];\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["5df9ba1.1779b44"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"ce98ab22.3e00c","type":"function","z":"cbc49771.e54a5","name":"simul3index","func":"\n\n\n//Injection condiérée comme consommation ds un premier temps\n//Conso = 3 784 320 Wh/an -> 10 000 Wh/j dont 6 sur 06h-18h et 4 la nuit\n// Prod = 3650 kWh/an -> 10 000 Wh/j sur 06h-18h selon parabole\n//Il faudrait utiliser une variable globale pour la date depuis la derniere mesure\n// Par défaut, pas de 10s, plateau de 1Wh/10s la nuit et moyenne de 1,4 le jour\n\nvar msg1 = {};\nvar msg2 = {};\nvar membre = flow.get('membre');\n\n//1 minute correspond à une heure pour accélérer le graphe\nvar onTime= flow.get(\"onTime\");//timestamp du démarrage de la machine\nvar timeNow = msg.payload; // onTime.getTime() - 365*24*60*60*1000 + (msg.payload - onTime.getTime())*60 ; //  = msg.payload; // Recul d'un an dans le temps et accélération 1s = 1min => x60x15\n\ntimeNow = new Date(timeNow);\nmsg.timenow = timeNow.getTime(); //timestamp\nmsg.simul = \"SIMULATION\";\n\n//var SimulIdx = flow.get(\"SimulIdx\");\n//var TAB = [msg.timenow, 0, 0, 0, 0, timeNow]; // timeNow, soutir, inject, prod, autoconso\n\nvar SnSrSimul= flow.get(\"SnSrSimul\");\n\nvar conso = 0;\nvar soutir = 0;\nvar inject = 0;\nvar prod = 0;\nvar autoconso = 0;\n\nvar rand = Math.random()/5; //moyenne 0,1\nvar rand1 = Math.round(Math.random()); // 0 ou 1 \n\nvar puis = 3; // puissance de l'onduleur en kWc\nvar productible = 1200; // productible en kWh/kWc\n// prod en parabole\n// puis(kWca) x 1000/2,3955 x (-1 x ((hours-12)/6)^2 + 1)\n// mettre la variable dans msg.count comme le node impulsion\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar secondes = timeNow.getSeconds();\n\n// Table des paramètres solaires des jours et d'énergie\n// Pour chaque mois : Nojour, date21, lever, coucher, facteur de production (CS de ENEDIS dans profil PRD3)\n// source : http://calendriersolaire.com/fr/paris\n\nvar SunCal = [];\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[0] = SunCal[12]\nSunCal.push([21,'20180121','083301','173100',0.388]);// SunCal[1]\nSunCal.push([52,'20180221','074648','182127',0.758]);// SunCal[2]\nSunCal.push([80,'20180321','065008','190508',1.054]);// SunCal[3]\nSunCal.push([111,'20180421','064703','205123',1.3]);// SunCal[4]\nSunCal.push([141,'20180521','060050','213335',1.476]);// SunCal[5]\nSunCal.push([172,'20180621','054659','215758',1.576]);// SunCal[6]\nSunCal.push([202,'20180721','0601032','214333',1.541]);// SunCal[7]\nSunCal.push([233,'20180821','065224','205452',1.352]);// SunCal[8]\nSunCal.push([264,'20180921','073618','195045',1.107]);// SunCal[9]\nSunCal.push([294,'20181021','082049','184929',0.768]);// SunCal[10]\nSunCal.push([325,'20181121','080920','170347',0.392]);// SunCal[11]\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[12]\nSunCal.push([386,'20180121','083301','173100',0.388]);// SunCal[13] = SunCal[1]\n\n// mois - 1 car la fonction prends des mois de 0 a 11\nvar LeverSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][2].substring(0,2)), parseInt(SunCal[mois][2].substring(2,4)), parseInt(SunCal[mois][2].substring(4,6)));\nvar CoucherSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][3].substring(0,2)), parseInt(SunCal[mois][3].substring(2,4)), parseInt(SunCal[mois][3].substring(4,6)));\n\nif (jour < 21) {var mois2 = mois - 1;}\n    else {var mois2 = mois + 1;}\nif (mois2 == 13) {mois2= 1;}\nif (mois2 === 0) {mois2= 12;}\n\n//var LeverSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][2].substring(0,2)), parseInt(SunCal[mois2][2].substring(2,4)), parseInt(SunCal[mois2][2].substring(4,6)));\n//var CoucherSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][3].substring(0,2)), parseInt(SunCal[mois2][3].substring(2,4)), parseInt(SunCal[mois2][3].substring(4,6)));\n\nvar dateNow = timeNow.getTime();\nvar millidate = SnSrSimul.timestamp; //SimulIdx[0]; \n\nif ((hours < 6 ) || (hours > 18))\n    { conso = ((dateNow - millidate)/1000)*rand;} //1 Wh pour 10s la nuit\n    else { conso = ((dateNow - millidate)/1000) * 0.28 * (rand+rand1);}// moyenne de + 1,4 Wh / 10s le jour\n\n//***** PRODUCTION enveloppe pour un jour type\n// centrés sur 13h00, prodmoy (CS=1, jour de 12h) et prodmax (CS = Pprod en kWc, jour de 14h)\n//A vérifier : decalage horaire avec GMT ??\nvar prodmoy = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis/2 * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\nvar prodmax = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\n\n//*****FORMULE ADAPTEE AU PROFIL ENEDIS => PRENDS EN COMPTE SunCal\n// Interpolation linéaire approximative entre 2 dates pour former le graphique\n\nvar CS = SunCal[mois][4];\nvar CS2 = SunCal[mois2][4];\n\nCS = CS + ((21-jour)*(CS-CS2)/Math.abs(SunCal[mois2][0] - SunCal[mois][0]));\n\n//17Avril2019 timeNow.getTime\nvar Jour100 = Math.round(100*(timeNow.getTime() - LeverSoleil.getTime())/(CoucherSoleil.getTime() - LeverSoleil.getTime()));\nvar parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar facteurP = puis * productible * facteurX /(365*24); // facteur de puissance sans unité\nvar DeltaT = (dateNow - millidate)/(1000*60*60); //durée en fraction d'heure pour calculer des kWh par la suite => vaut env. 4000/(1000*60*60) à 15000/(1000*60*60)\nprod = Math.max((DeltaT * facteurP * parabole * CS), 0); // 0 avant et après le coucher du soleil car parabole <0 la nuit\n\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(conso) > membre.Psoutir*1000){prod = 0; soutir = 0;inject = 0;conso = 0;}\n\n// Calcul des variables de la courbe à afficher\n\nif (prod <= 0) // LA NUIT\n    {prod = 0;\n    autoconso = 0;\n    inject = 0;\n    soutir = conso;\n    }\n    else {if (prod < conso) \n            {soutir = conso - prod;\n            inject = 0;\n            autoconso = prod;\n            }\n            else  // prod > conso CAS GENERAL\n            {soutir = 0;\n            autoconso =  conso;\n            inject = prod - conso;\n            }\n        }\n\n\n // on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\n//TAB = [msg.timenow, SimulIdx[1] + soutir, SimulIdx[2] + inject, SimulIdx[3] + prod, SimulIdx[4] + autoconso, timeNow, SimulIdx[6] + prodmoy, SimulIdx[7] + prodmax];\n//flow.set (\"SnSrSimul\", {\"timestamp\": timeNow.getTime(),\"time\":timeNow, \"soutiridx\": soutiridx + soutir, \"injectidx\": injectidx + inject, \"prodidx\": prodidx + prod, \"autoconsoidx\": autoconsoidx + autoconso, \"prodmoyidx\": prodmoyidx + prodmoy, \"prodmaxidx\": prodmaxidx + prodmax});\n\nSnSrSimul.timestamp = timeNow.getTime();\nSnSrSimul.time = timeNow;\nSnSrSimul.soutiridx = SnSrSimul.soutiridx + soutir;\nSnSrSimul.injectidx = SnSrSimul.injectidx + inject;\nSnSrSimul.prodidx = SnSrSimul.prodidx + prod;\nSnSrSimul.autoconsoidx = SnSrSimul.autoconsoidx + autoconso;\nSnSrSimul.prodmoyidx = SnSrSimul.prodmoyidx + prodmoy;\nSnSrSimul.prodmaxidx = SnSrSimul.prodmaxidx + prodmax;\n\n//flow.set(\"SimulIdx\", TAB);\nflow.set(\"SnSrSimul\", SnSrSimul);\nmsg2.SnSrSimul = SnSrSimul;\nmsg2.payload = 'SIMUL';\nmsg2.count = SnSrSimul.prodidx;\nmsg2.tab=[msg.timenow, soutir, inject, prod, autoconso, timeNow, conso, DeltaT, facteurP, parabole];\nmsg2.timenow = msg.timenow;\nmsg2.simul = msg.simul;\n   \nreturn msg2;\n\n","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["e213af1.bedbcd","26fce43d.60cff4","a52d2b2e.e7b4e8","86891571.1cf0c","5245c70c.e0d0b8"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"26fce43d.60cff4","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"simul","x":340,"y":200,"wires":[]},{"id":"a52d2b2e.e7b4e8","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":330,"y":240,"wires":[]},{"id":"5245c70c.e0d0b8","type":"debug","z":"cbc49771.e54a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tab","x":340,"y":160,"wires":[]},{"id":"2180ea06.ca317e","type":"delay","z":"cbc49771.e54a5","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":280,"wires":[["4a0191f2.3b8658"]]},{"id":"b48d09b3.a0b14","type":"join","z":"cbc49771.e54a5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1190,"y":720,"wires":[["a00858f3.345808"]]},{"id":"c316f7bc.56d558","type":"debug","z":"cbc49771.e54a5","name":"affichageJSonJoin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":800,"wires":[]},{"id":"a00858f3.345808","type":"function","z":"cbc49771.e54a5","name":"ToString","func":"//Mettre les différentes valeurs dans un string sui sera ensuite converti au format JSON\nvar valeurs = [];\nvar division = msg.payload.split(\";\");\nfor(var e in division){\n    sortie.push(division[e]);\n}\nvar ret = {};\nret.payload = \"{\\\"conso\\\":\" + valeurs[0] + \",\" + \"\\\"prod\\\":\" + valeurs[1] + \",\" + \"\\\"inject\\\":\" + valeurs[2] + \",\"\n    + \"\\\"soutir\\\":\" + valeurs[3] + \",\" + \"\\\"autoconso\\\":\" + valeurs[4] + \"}\";\nreturn ret;","outputs":1,"noerr":0,"x":1380,"y":720,"wires":[["712785f7.ad541c","e0cfd724.393e98"]]},{"id":"712785f7.ad541c","type":"json","z":"cbc49771.e54a5","name":"","property":"payload","action":"","pretty":false,"x":1530,"y":720,"wires":[["c316f7bc.56d558","fb1455e5.21ce"]]},{"id":"e0cfd724.393e98","type":"debug","z":"cbc49771.e54a5","name":"AffichageJoin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1580,"y":860,"wires":[]},{"id":"fb1455e5.21ce","type":"influxdb out","z":"cbc49771.e54a5","influxdb":"fb8e47f4.37c13","name":"EntreeInfluxDB","measurement":"EnergyRecord","precision":"","retentionPolicy":"","x":1760,"y":720,"wires":[]},{"id":"966190e1.e4c8f8","type":"ui_tab","z":"","name":"Hack2019","icon":"dashboard"},{"id":"fb8e47f4.37c13","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SunShare","name":"Sunshare","usetls":false,"tls":""}]