src/nodeRed/sunshare_nodered_modifie.json
[{"id":"da5d45d2.a3a2d","type":"tab","label":"REEL","disabled":false,"info":"FLOW réel Mai 2019\n- contient des objets\n- connecté au LINKY et à 2 compteurs IMPULSION (prod, conso)\nLe 2e compteur à impulsion pallie l'absence de remontée\nde l'index d'injection par LINKY\n\nOpenweatherMap API key : 7997e8bbdce33a3a717b14e9da5f0dce\nGRAFANA : http://192.168.1.20:3000/d/EwBHXmigz/energie?edit&orgId=1&tab=time%20range&from=1560619604498&to=1561224404499"},{"id":"fb700849.f2f53","type":"tab","label":"Simulé","disabled":false,"info":""},{"id":"3b0b656d.7c43fa","type":"tab","label":"weather","disabled":false,"info":""},{"id":"95a58565.467e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"57bfdc8a.fe732c","type":"function","z":"da5d45d2.a3a2d","name":"TICserie","func":"// Decodage trames LINKY mode STANDARD - www.sunshare.fr\n// Objectif script NodeRed\n\n// fichier décrivant la TIC Enedis-NOI-CPT_54E\n// ADSC 12 // DATE 13 // LTARF 16 // EAST 9 Wh // EAIT 9 Wh \n// URMS1 3 V //PREF 2 kVA // SINSTS 5 VA // PRM 14\n\n//passage de la trame en variable\nvar trame_tic=msg.payload;\nvar SnSrIdxObj = flow.get('SnSrIdxObj');//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrObj = {};\n\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n\n//recherche des chaines, passage en nombres\nvar tADSC=\"ADSC\"\nvar lADSC=trame_tic.indexOf(\"ADSC\")+tADSC.length+1;\nvar ADSC=trame_tic.substring(lADSC,lADSC+12);\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\")+tDATE.length+1;\nvar DATE_label=trame_tic.substring(lDATE,lDATE+1);\nvar DATE=\"20\"+trame_tic.substring(lDATE+1,lDATE+13);\nvar tLTARF=\"LTARF\"\nvar lLTARF=trame_tic.indexOf(\"LTARF\")+tLTARF.length+1;\nvar LTARF=trame_tic.substring(lLTARF,lLTARF+16);\n\nif (LTARF.indexOf(\"BAS\",0)>0) {var LTARF='BASE'; } //BASE chez EDF, ENERCOOP....diffère selon chaque fournisseur\n        else if (LTARF.indexOf(\"HC.\",0)>0) {var LTARF='HC/HP'; } //HC.. HP/HC chef EDF\n        else if (LTARF.indexOf(\"EJP\",0)>0) {var LTARF='EJP'; } //EJP chez EDF\n        else if (LTARF.indexOf(\"BBR\",0)>0) {var LTARF='HC/HP'; } //TEMPO chez EDF\n        else {var LTARF='INCONNU'; } //\n    \nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\")+tEAST.length+1;\nvar EAST=trame_tic.substring(lEAST,lEAST+9);\nvar nEAST=parseInt(EAST);\n\nvar tEAIT=\"EAIT\"\nvar EAIT=\"NO INJECT\"\nif (trame_tic.indexOf(\"EAIT\",0)>0) \n\t{var lEAIT=trame_tic.indexOf(\"EAIT\")+tEAIT.length+1;\n\tvar EAIT=trame_tic.substring(lEAIT,lEAIT+9);\n\t} \nvar nEAIT=parseInt(EAIT);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\")+tURMS1.length+1;\nvar URMS1=trame_tic.substring(lURMS1,lURMS1+3);\nvar nURMS1=parseInt(URMS1);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\")+tPREF.length+1;\nvar PREF=trame_tic.substring(lPREF,lPREF+2);\nvar nPREF=parseInt(PREF);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\")+tSINSTS.length+1;\nvar SINSTS=trame_tic.substring(lSINSTS,lSINSTS+5);\nvar nSINSTS=parseInt(SINSTS);\nvar tSINSTI=\"SINSTI\"\nvar lSINSTI=trame_tic.indexOf(\"SINSTI\")+tSINSTI.length+1;\nvar SINSTI=trame_tic.substring(lSINSTI,lSINSTI+5);\nvar nSINSTI=parseInt(SINSTI);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\")+tPRM.length+1;\nvar PRM=trame_tic.substring(lPRM,lPRM+14);\nvar nPRM=parseInt(PRM);\n\nvar SimulAnnee = DATE.substring(0,4);\nvar SimulMois = parseInt(DATE.substring(4,6));\nvar SimulJour = DATE.substring(6,8);\nvar SimulHours = DATE.substring(8,10);\nvar SimulMin = DATE.substring(10,12);\nvar SimulSec = DATE.substring(12,14);\n\nSnSrIdxObj.TICtime = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\nSnSrIdxObj.TICstamp = SnSrIdxObj.TICtime.getTime(); \nSnSrIdxObj.tarif = LTARF;\nSnSrIdxObj.soutiridx = nEAST; \nSnSrIdxObj.injectidx = nEAIT; \nSnSrIdxObj.Uinst = nURMS1; \nSnSrIdxObj.PuisRef = nPREF; \nSnSrIdxObj.PuisInst = Math.max(nSINSTS, nSINSTI); \nSnSrIdxObj.nPRM = nPRM; \n\nflow.set('SnSrIdxObj',SnSrIdxObj);\n\n//SnSrObj.timenow = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\n//SnSrObj.tarif = LTARF; SnSrObj.SoutirIdx = nEAST; SnSrObj.InjectIdx = nEAIT; SnSrObj.Uinst = nURMS1; SnSrObj.PuisRef = nPREF; SnSrObj.PuisInst = nSINSTS; SnSrObj.nPRM = nPRM; \n//SnSrIdx [0] = SnSrObj.timenow; \n//SnSrIdx [1] = nEAST;\n//SnSrIdx [2] = nEAIT;\n//flow.set('SnSrIdx', SnSrIdx);\n//msg.SnSrObj = SnSrObj;\nmsg.timenow = SnSrIdxObj.TICtime; //SnSrObj.timenow;\n\nmsg0.payload= SnSrIdxObj;\n//msg0.payload = [ADSC,DATE_label,DATE,LTARF,nEAST,nEAIT,nURMS1,nPREF,nSINSTS,nPRM];\nmsg1.payload = SnSrIdxObj.Uinst;\nmsg1.topic = 'tension'\nmsg2.payload = SnSrIdxObj.PuisInst;\nmsg2.topic = 'puissance'\nmsg3.payload = (SnSrIdxObj.soutiridx/1000).toFixed(2); // Math.round(SnSrIdxObj.soutiridx/100)/10; //arrondi au kWh avec 1 digit //nEAST.toString().substring(2)/1000;\nmsg3.topic = 'SoutirIdx'\nmsg4.payload = (SnSrIdxObj.injectidx/1000).toFixed(2); // Math.round(SnSrIdxObj.injectidx/100)/10; //arrondi au kWh avec 1 digit //nEAIT.toString().substring(2)/1000;\nmsg4.topic = 'InjectIdx'\nif (isNaN(nEAIT)) {msg4.payload ='LINKY_HS';}\n\nreturn [msg0, msg1, msg2, msg3, msg4];\n","outputs":5,"noerr":0,"x":826,"y":245.00003051757812,"wires":[["ebbd8370.5d36e"],["63ca7e4c.8356b8"],["54627232.9e90a4"],["883a4d43.386d98"],["89b763d5.601088"]]},{"id":"b70dcf20.133618","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":603.0000152587891,"y":185.00001525878906,"wires":[]},{"id":"f8959d33.d8b5a","type":"function","z":"da5d45d2.a3a2d","name":"IMPserie","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\nvar SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n\nvar lProdIdx = Math.round(msg.count);\n//var lProdIdx = Math.round(SnSrSimul.prodidx);//msg.count);\n\nSnSrIdxObj.IMPstamp = timeNow.getTime(); //SnSrIdx[3]\nSnSrIdxObj.IMPtime = timeNow; //SnSrIdx[3]\n\nSnSrIdxObj.prodidx = lProdIdx; //SnSrIdx[4]\nflow.set ('SnSrIdxObj', SnSrIdxObj); //flow.set('SnSrIdx', SnSrIdx);\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, lProdIdx, timeNow];\nmsg3.topic=\"IMP15\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":667,"y":300,"wires":[["3f6f7644.e3a09a"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"afacce14.d475a8","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"60","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":855.9999694824219,"y":117.67013549804688,"wires":[[]]},{"id":"3f6f7644.e3a09a","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":371,"wires":[["b33e5f7a.9b288"]]},{"id":"883a4d43.386d98","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":298,"wires":[["50fbe50c.cad87c"]]},{"id":"27789b32.00464c","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":603.0000152587891,"y":205.00001525878906,"wires":[]},{"id":"411d89f4.23c77","type":"function","z":"da5d45d2.a3a2d","name":"flow & global init","func":"//global.set (\"gAUTOC30\", null);\n//global.set (\"gAutoC30\", null);\n//global.set (\"gProd30\", null);\n//global.set (\"gInject30\", null);\n//global.set (\"gProdIdx\", null);\n//global.set (\"gSoutir30\", null);\n//global.set (\"gmsg\", null);\n//global.set (\"pTimeStamp\", null);\n//flow.set (\"TICflow\", null);\n//flow.set (\"PROD15\", null);\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar timeNow = new Date(msg.payload);\n\n//var exdate = new Date(timeNow.getTime() - 24*60*60*1000); //la veille\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1; // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n//minutes pour le prochain TIC15\n//var minutes2 = (Math.round(minutes/15)+1)*15-15;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6999999, 6999999, minutes2, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 6999999, minutes2, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null]);\n//flow.set (\"SimulIdx\", [timeNow, 6999999, 6999999, 6999999, 6999999, timeNow, 6999999, 6999999]); //soutir, inject, prod, autoconso\n//flow.set (\"membre\", ['pseudo', 021675051387, 14282923268426, 6, 'BASE', 3]);\n//flow.set (\"SnSrHier\", [exdate, '1er jour', '1er jour', '1er jour', '1er jour', '1er jour', 6999999, 6999999, 6999999]);\nflow.set (\"SnSrCoin\", [9, 0, timeNow.getFullYear()]);\n//flow.set (\"SnSrIdx\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSr15\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n\nflow.set (\"SnSrIdxObj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : 99999});\n//flow.set (\"SnSrStack\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":6999999,\"injectidx\":6999999,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\nflow.set (\"SnSr15Simul\", {\"timestamp\":timeNow.getTime(),\"prodmoyidx\":null,\"prodmaxidx\":null});\nflow.set (\"membre\", {\"pseudo\":'orvo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3});\nflow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\":'init', \"injecthier\":'init', \"autoconsohier\":'init', \"consohier\":'init', \"prodhier\":'init', \"soutiridx\":'init', \"injectidx\":'init', \"prodidx\":'init'});\nflow.set (\"SnSrSimul\", {\"timestamp\":timeNow.getTime(),\"time\":timeNow,\"soutiridx\":6999999,\"injectidx\":6999999,\"prodidx\":6999999,\"autoconsoidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n//flow.set (\"SnSrTab\", [timeNow.getTime(),6999999,6999999,6999999,6999999,6999999]);\nflow.set (\"SnSr15Obj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : null});\nflow.set (\"onTime\", timeNow);\n\n\nmsg.payload='ok';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"80243984.36d5c8","type":"inject","z":"da5d45d2.a3a2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["411d89f4.23c77"]]},{"id":"47a35ab4.b054ac","type":"inject","z":"da5d45d2.a3a2d","name":"SIMULstamp","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":585,"y":56.670143127441406,"wires":[["c9f16dbb.85cd78"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"89898cde.9c201","type":"inject","z":"da5d45d2.a3a2d","name":"Timestamp 5s","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"25","x":207,"y":632,"wires":[["5ee70a52.8a0dbc"]]},{"id":"da742883.e51098","type":"function","z":"da5d45d2.a3a2d","name":"SIMULtic","func":"\nif (msg.payload == 'IMPULSION') {return;}\n\n//var trame_tic = 'SE      \tFEAST\t006877052\t2EASF01\t006877052\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t\\'EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006877052\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t#IRMS1\t002\t0URMS1\t233\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nvar trame_tic = ' #ADSC\t021675051387\t:VTIC\t02\tJDATE\tE181026224009\t\tANGTF\t      BASE      \t<LTARF\t      BASE      \tFEAST\t006999999\t2EASF01\t006999999\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t&EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006999999\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t\"EAIT\t006999999\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nmsg.topic = null;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6877052, 99, minutes, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 0, minutes, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null])\n\n//var TIC15 = flow.get(\"TIC15\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\n\nvar rand = Math.random();\n\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\");\nvar DATEdebut=trame_tic.substring(lDATE,lDATE+tDATE.length+1);\nvar DATEtout=trame_tic.substring(lDATE,lDATE+tDATE.length+1+13);\n\nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\");\nvar EASTdebut=trame_tic.substring(lEAST,lEAST+tEAST.length+1);\nvar EASTtout=trame_tic.substring(lEAST,lEAST+tEAST.length+1+9);\nvar EAST=trame_tic.substring(lEAST+tEAST.length+1, lEAST+tEAST.length+1+9);\nvar nEAST = parseInt(EAST, 10);\n\nvar tEAIT=\"EAIT\"\nvar lEAIT=trame_tic.indexOf(\"EAIT\");\nvar EAITdebut=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1);\nvar EAITtout=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1+9);\nvar EAIT=trame_tic.substring(lEAIT+tEAIT.length+1, lEAIT+tEAIT.length+1+9);\nvar nEAIT = parseInt(EAIT, 10);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\");\nvar URMS1=trame_tic.substring(lURMS1+tURMS1.length+1,lURMS1+tURMS1.length+1+3);\nvar nURMS1=parseInt(URMS1, 10);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\");\nvar PREF=trame_tic.substring(lPREF+tPREF.length+1,lPREF+tPREF.length+1+2);\nvar nPREF=parseInt(PREF, 10);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\");\nvar SINSTS=trame_tic.substring(lSINSTS+tSINSTS.length+1,lSINSTS+tSINSTS.length+1+5);\nvar nSINSTS=parseInt(SINSTS, 10);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\");\nvar PRM=trame_tic.substring(lPRM+tPRM.length+1,lPRM+tPRM.length+1+14);\n\n// LINKYSTAMP YYMMDDhhmmss\nvar timeNow = new Date(msg.timenow);\nvar annee = timeNow.getFullYear()-2000\nvar mois = timeNow.getMonth()+1 // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate()\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n\nvar LINKYDATE = DATEdebut + \"E\" + timeString ; // Date du jour au format LINKY\nnURMS1 = nURMS1 - 10 + Math.floor(20 * 2 *rand); // variation de +- 20v\n\nnSINSTS = Math.floor(nSINSTS * 2* rand);\nvar t2SINSTS = nSINSTS.toString();\nfor (i=t2SINSTS.length; i<5; i++)\n    {t2SINSTS = '0' + t2SINSTS;}\n\nnEAST = Math.round(SnSrSimul.soutiridx);//SimulIdx[1]);\nvar t2EAST = nEAST.toString();\nfor (i=t2EAST.length; i<9; i++)\n    {t2EAST = '0' + t2EAST;}\n\nnEAIT =  Math.round(SnSrSimul.injectidx);//SimulIdx[2]);\nvar t2EAIT = nEAIT.toString();\nfor (i=t2EAIT.length; i<9; i++)\n    {t2EAIT = '0' + t2EAIT;}\n\n\nvar TICdebut = trame_tic.substring(0, lDATE);\nvar DATEEAST = trame_tic.substring(lDATE+tDATE.length+1+13, lEAST+tEAST.length+1);\nvar EASTEAIT = trame_tic.substring(lEAST+tEAST.length+1+9, lEAIT+tEAIT.length+1);\nvar EAITSINSTS = \"\t#IRMS1\t002\t0URMS1\t\" + nURMS1 + \"\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t\"; \n// \"EASD04\t000000000\t\"EAIT\t695847123\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\nvar SINSTSfin = trame_tic.substring(lSINSTS+tSINSTS.length+1+5, trame_tic.length);\n var LINKYEAST = EASTdebut + t2EAST.toString() ; // un mot\n// on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\ntrame_tic = TICdebut + LINKYDATE + DATEEAST + t2EAST + EASTEAIT + t2EAIT + EAITSINSTS + t2SINSTS + SINSTSfin;\n\n//trame_tic.replace(EASTtout, LINKYEAST);\n//trame_tic.replace(LINKYDATE, DATEtout);\n\n\n// EStimation du surplus injecté ds le réseau\n//var hRAD = pi() / (hours - 12) // heure en radian ??\n//if ((hours <= 20) && (hours >= 6)) \n //   {nEAIT = nEAIT + 2 x Math.sin(hRAD);} // moyenne de 1\n\n// reconstruction de la trame TIC\nmsg.test = [LINKYDATE, PRM, t2EAIT];\nmsg.payload = trame_tic; //[DATEtout, LINKYDATE, EASTtout, LINKYEAST];\nreturn msg;\n","outputs":1,"noerr":0,"x":856.9999694824219,"y":85.67013549804688,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"e4226a04.8eaa1","type":"function","z":"da5d45d2.a3a2d","name":"TICtest","func":"\nvar test = msg.payload.indexOf(\"ADSC\");\nif ((test > 0) && (test < 10))\n    {msg.topic='TICok';\n    msg.timenow = new Date();\n    return msg;}\n    \n//msg.topic = msg.payload.substring(2,6);\n//if (msg.topic == 'ADSC')\n//    {msg.topic='TICok';\n //   return msg;} // sinon le signal TIC est mauvais....Pas de msg\n","outputs":1,"noerr":0,"x":633.0000152587891,"y":245.00001525878906,"wires":[["27789b32.00464c","b70dcf20.133618","57bfdc8a.fe732c"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"c9f16dbb.85cd78","type":"function","z":"da5d45d2.a3a2d","name":"simul3index","func":"\n\n\n//Injection condiérée comme consommation ds un premier temps\n//Conso = 3 784 320 Wh/an -> 10 000 Wh/j dont 6 sur 06h-18h et 4 la nuit\n// Prod = 3650 kWh/an -> 10 000 Wh/j sur 06h-18h selon parabole\n//Il faudrait utiliser une variable globale pour la date depuis la derniere mesure\n// Par défaut, pas de 10s, plateau de 1Wh/10s la nuit et moyenne de 1,4 le jour\n\nvar msg1 = {};\nvar msg2 = {};\nvar membre = flow.get('membre');\n\n//Pour créer un simulateur, on recule d'un an et on accélérer le graphe x60 (1 minute correspond à une heure)\n//var onTime= flow.get(\"onTime\");//timestamp du démarrage de la machine\n//var timeNow = onTime.getTime() - 365*24*60*60*1000 + (msg.payload - onTime.getTime())*60 ; // // Recul d'un an dans le temps et accélération 1s = 1min => x60x15\n\nvar timeNow = msg.payload; // Ajouter pour décaler de 12h pour des tests\ntimeNow = new Date(timeNow);// au format date\nmsg.timenow = timeNow.getTime(); //timestamp\n\n//var SimulIdx = flow.get(\"SimulIdx\");\n//var TAB = [msg.timenow, 0, 0, 0, 0, timeNow]; // timeNow, soutir, inject, prod, autoconso\n\nvar SnSrSimul= flow.get(\"SnSrSimul\");\n\nvar conso = 0;\nvar soutir = 0;\nvar inject = 0;\nvar prod = 0;\nvar autoconso = 0;\n\nvar rand = Math.random()/5; //moyenne 0,1\nvar rand1 = Math.round(Math.random()); // 0 ou 1 \n\nvar puis = 3; // puissance de l'onduleur en kWc\nvar productible = 1200; // productible en kWh/kWc\n// prod en parabole\n// puis(kWca) x 1000/2,3955 x (-1 x ((hours-12)/6)^2 + 1)\n// mettre la variable dans msg.count comme le node impulsion\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar secondes = timeNow.getSeconds();\n\n// Table des paramètres solaires des jours et d'énergie\n// Pour chaque mois : Nojour, date21, lever, coucher, facteur de production (CS de ENEDIS dans profil PRD3)\n// source : http://calendriersolaire.com/fr/paris\n\nvar SunCal = [];\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[0] = SunCal[12]\nSunCal.push([21,'20180121','083301','173100',0.388]);// SunCal[1]\nSunCal.push([52,'20180221','074648','182127',0.758]);// SunCal[2]\nSunCal.push([80,'20180321','065008','190508',1.054]);// SunCal[3]\nSunCal.push([111,'20180421','064703','205123',1.3]);// SunCal[4]\nSunCal.push([141,'20180521','060050','213335',1.476]);// SunCal[5]\nSunCal.push([172,'20180621','054659','215758',1.576]);// SunCal[6]\nSunCal.push([202,'20180721','0601032','214333',1.541]);// SunCal[7]\nSunCal.push([233,'20180821','065224','205452',1.352]);// SunCal[8]\nSunCal.push([264,'20180921','073618','195045',1.107]);// SunCal[9]\nSunCal.push([294,'20181021','082049','184929',0.768]);// SunCal[10]\nSunCal.push([325,'20181121','080920','170347',0.392]);// SunCal[11]\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[12]\nSunCal.push([386,'20180121','083301','173100',0.388]);// SunCal[13] = SunCal[1]\n\n// mois - 1 car la fonction prends des mois de 0 a 11\nvar LeverSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][2].substring(0,2)), parseInt(SunCal[mois][2].substring(2,4)), parseInt(SunCal[mois][2].substring(4,6)));\nvar CoucherSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][3].substring(0,2)), parseInt(SunCal[mois][3].substring(2,4)), parseInt(SunCal[mois][3].substring(4,6)));\n\nif (jour < 21) {var mois2 = mois - 1;}\n    else {var mois2 = mois + 1;}\nif (mois2 == 13) {mois2= 1;}\nif (mois2 === 0) {mois2= 12;}\n\n//var LeverSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][2].substring(0,2)), parseInt(SunCal[mois2][2].substring(2,4)), parseInt(SunCal[mois2][2].substring(4,6)));\n//var CoucherSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][3].substring(0,2)), parseInt(SunCal[mois2][3].substring(2,4)), parseInt(SunCal[mois2][3].substring(4,6)));\n\nvar dateNow = timeNow.getTime();\nvar millidate = SnSrSimul.timestamp; //SimulIdx[0]; \n\nif ((hours < 6 ) || (hours > 18))\n    { conso = ((dateNow - millidate)/1000)*rand;} //1 Wh pour 10s la nuit\n    else { conso = ((dateNow - millidate)/1000) * 0.28 * (rand+rand1);}// moyenne de + 1,4 Wh / 10s le jour\n\n//***** PRODUCTION enveloppe pour un jour type\n// centrés sur 13h00, prodmoy (CS=1, jour de 12h) et prodmax (CS = Pprod en kWc, jour de 14h)\n//A vérifier : decalage horaire avec GMT ??\nvar prodmoy = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis/2 * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\nvar prodmax = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\n\n//*****FORMULE ADAPTEE AU PROFIL ENEDIS => PRENDS EN COMPTE SunCal\n// Interpolation linéaire approximative entre 2 dates pour former le graphique\n\nvar CS = SunCal[mois][4];\nvar CS2 = SunCal[mois2][4];\n\nCS = CS + ((21-jour)*(CS-CS2)/Math.abs(SunCal[mois2][0] - SunCal[mois][0]));\n\n//17Avril2019 timeNow.getTime\nvar Jour100 = Math.round(100*(timeNow.getTime() - LeverSoleil.getTime())/(CoucherSoleil.getTime() - LeverSoleil.getTime()));\nvar parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar facteurP = puis * productible * facteurX /(365*24); // facteur de puissance sans unité\nvar DeltaT = (dateNow - millidate)/(1000*60*60); //durée en fraction d'heure pour calculer des kWh par la suite => vaut env. 4000/(1000*60*60) à 15000/(1000*60*60)\nprod = Math.max((DeltaT * facteurP * parabole * CS), 0); // 0 avant et après le coucher du soleil car parabole <0 la nuit\n\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(conso) > membre.Psoutir*1000){prod = 0; soutir = 0;inject = 0;conso = 0;}\n\n// Calcul des variables de la courbe à afficher\n\nif (prod <= 0) // LA NUIT\n    {prod = 0;\n    autoconso = 0;\n    inject = 0;\n    soutir = conso;\n    }\n    else {if (prod < conso) \n            {soutir = conso - prod;\n            inject = 0;\n            autoconso = prod;\n            }\n            else  // prod > conso CAS GENERAL\n            {soutir = 0;\n            autoconso =  conso;\n            inject = prod - conso;\n            }\n        }\n\n\n // on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\n//TAB = [msg.timenow, SimulIdx[1] + soutir, SimulIdx[2] + inject, SimulIdx[3] + prod, SimulIdx[4] + autoconso, timeNow, SimulIdx[6] + prodmoy, SimulIdx[7] + prodmax];\n//flow.set (\"SnSrSimul\", {\"timestamp\": timeNow.getTime(),\"time\":timeNow, \"soutiridx\": soutiridx + soutir, \"injectidx\": injectidx + inject, \"prodidx\": prodidx + prod, \"autoconsoidx\": autoconsoidx + autoconso, \"prodmoyidx\": prodmoyidx + prodmoy, \"prodmaxidx\": prodmaxidx + prodmax});\n\nSnSrSimul.timestamp = timeNow.getTime();\nSnSrSimul.time = timeNow;\nSnSrSimul.soutiridx = SnSrSimul.soutiridx + soutir;\nSnSrSimul.injectidx = SnSrSimul.injectidx + inject;\nSnSrSimul.prodidx = SnSrSimul.prodidx + prod;\nSnSrSimul.autoconsoidx = SnSrSimul.autoconsoidx + autoconso;\nSnSrSimul.prodmoyidx = SnSrSimul.prodmoyidx + prodmoy;\nSnSrSimul.prodmaxidx = SnSrSimul.prodmaxidx + prodmax;\n\n//flow.set(\"SimulIdx\", TAB);\nflow.set(\"SnSrSimul\", SnSrSimul);\nmsg2.SnSrSimul = SnSrSimul;\nmsg2.payload = 'SIMUL';\nmsg2.count = SnSrSimul.prodidx;\nmsg2.tab=[msg.timenow, soutir, inject, prod, autoconso, timeNow, conso, DeltaT, facteurP, parabole];\nmsg2.timenow = msg.timenow;\n   \nreturn msg2;\n\n","outputs":1,"noerr":0,"x":656.9999694824219,"y":98.67013549804688,"wires":[["da742883.e51098","eb3a120b.7736f8","154b129.08fc3ed","afacce14.d475a8","8ef4edbb.d2e5e8"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"eb3a120b.7736f8","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"SnSrSimul","x":918,"y":41.670135498046875,"wires":[]},{"id":"154b129.08fc3ed","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":962,"y":61.670135498046875,"wires":[]},{"id":"c31676f.a3c5d88","type":"function","z":"da5d45d2.a3a2d","name":"JourneeHIER","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrHier=flow.get(\"SnSrHier\");\nvar SnSrCoin=flow.get(\"SnSrCoin\");\nvar yesterday = new Date(SnSrHier.yesterday);\n\n//Transmission des éléments pour le bilan de la veille\nmsg0.topic = 'TimeStampHier';\nmsg0.measurement = 'TimeStampHier';\nmsg0.retentionPolicy = '30d';\nmsg0.payload = yesterday.toLocaleDateString() || 0;\nmsg1.topic = 'SoutirageHier';\nmsg1.measurement = 'SoutirageHier';\nmsg1.retentionPolicy = '30d';\nmsg1.payload = SnSrHier.soutirhier/1000 || 0;\nmsg2.topic = 'InjectionHier';\nmsg2.measurement = 'InjectionHier';\nmsg2.retentionPolicy = '30d';\nmsg2.payload = SnSrHier.injecthier/1000 || 0;\nmsg3.topic = 'AutoconsoHier';\nmsg3.measurement = 'AutoconsoHier';\nmsg3.retentionPolicy = '30d';\nmsg3.payload = SnSrHier.autoconsohier/1000 || 0;\nmsg4.topic = 'ProductionHier';\nmsg4.measurement = 'ProductionHier';\nmsg4.retentionPolicy = '30d';\nmsg4.payload = SnSrHier.prodhier/1000 || 0;\nmsg5.topic = 'SnSrCoin';\nmsg5.measurement = 'SnSrCoin';\nmsg5.retentionPolicy = '30d';\nmsg5.payload = SnSrCoin;\n\n//Cas particulier du 1er jour\nvar Dt = new Date().getTime()-yesterday.getTime();\nif (Dt < 24*60*60*1000) \n    {SnSrHier.soutirhier = \"1er jour\";\n    SnSrHier.injecthier = \"1er jour\";\n    SnSrHier.autoconsohier = \"1er jour\";\n    SnSrHier.consohier = \"1er jour\";\n    flow.set('SnSrHier', SnSrHier);\n    msg1.payload = \"1er jour\";\n    msg2.payload = \"1er jour\";\n    msg3.payload = \"1er jour\";\n    msg4.payload = \"1er jour\";\n    }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":837,"y":592,"wires":[["321ae0ec.6bdd98","7e23c0c7.d0596"],["7635f818.0d9778","7e23c0c7.d0596"],["dda0a93c.a308e","7e23c0c7.d0596"],["9f7a28ca.3da8a","7e23c0c7.d0596"],["217b6200.3efd9e","7e23c0c7.d0596"],["fc46d485.1d4658"]]},{"id":"bb5aba16.e7eb","type":"function","z":"da5d45d2.a3a2d","name":"SnSr15","func":"\n//jaune #FCFC44 // bleu #1F77B4 // orange #EB7B16 // vert clair #98DF8A // gris #848585 // vert foncé #17A822\n\nvar SnSrIdxObj = RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\n//var SnSrTab = flow.get('SnSrTab');\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\nvar membre = flow.get('membre');\n\n//var SnSrTab = [];\n//SnSrTab[0] = SnSrIdxObj.TICstamp;\n//SnSrTab[1] = SnSrIdxObj.soutiridx;\n//SnSrTab[2] = SnSrIdxObj.injectidx;\n//SnSrTab[3] = SnSrIdxObj.prodidx;\n//SnSrTab[4] = Math.round(SnSrSimul.prodmoyidx);\n//SnSrTab[5] = Math.round(SnSrSimul.prodmaxidx);\n//flow.set('SnSrTab', SnSrTab);\n\nvar soutir = (SnSrIdxObj.soutiridx - SnSr15Obj.soutiridx) || 0;\nvar inject = (SnSrIdxObj.injectidx -  SnSr15Obj.injectidx)  || 0; \nvar prod = (SnSrIdxObj.prodidx - SnSr15Obj.prodidx)  || 0; \nvar consoIMP = (SnSrIdxObj.consoIMPidx - SnSr15Obj.consoIMPidx) || 0;\n\nvar Debug15 = {\"soutir\":soutir, \"inject\":inject, \"prod\":prod, \"conso\":'init',\"autoconso\":'init', \"Pprod\":membre.Pprod, \"Psoutir\":membre.Psoutir};\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(consoIMP) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\n\n// Cas ou LINKY ne remonte pas l'injection, 2e compteur à impulsion\n// On reconstitue un index d'injection à partir de la consommation totale\nif (isNaN(SnSrIdxObj.injectidx))  // && soutir === 0 // LINKY non fonctionnel et journée : soutir = 0 => inject > 0 // (typeof SnSrIdxObj.injectidx != \"number\") \n    {inject = Math.max((prod - consoIMP),0);\n    SnSrIdxObj.injectidx = SnSr15Obj.injectidx + inject;\n    }\n    \n// CAS GENERAL : LINKY fonctionnel remonte injectidx ou soutir > 0 (la nuit)\nvar autoconso = -1 * (prod - inject) || 0; // A VERIFIER cas prod faible (< conso), autoconso != 0\nvar conso = soutir - autoconso; // autoconso < 0\n\nflow.set('SnSr15Obj', SnSrIdxObj); //Au choix avec SnSrTab au dessus\n\nvar soutir = Math.round(1000*60*60*(soutir/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar inject = Math.round(1000*60*60*(inject/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar prod = Math.round(1000*60*60*(prod/(SnSrIdxObj.IMPstamp - SnSr15Obj.IMPstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n//var consoIMP = Math.round(1000*60*60*(inject/(SnSrIdxObj.stamp - SnSr15Obj.TICstamp))); // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar autoconso = Math.round(1000*60*60*(autoconso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar conso = Math.round(1000*60*60*(conso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n\nDebug15.autoconso = autoconso; Debug15.conso = conso; \n\nif ((prod === 0) && (inject > 0))\n    {var alarm = 'Erreur IMPULSION'}\nif ((soutir < 0) || (inject < 0))\n    {var alarm = 'Erreur TIC'}\nif ((prod === 0) && (inject === 0))\n    {var alarm = 'PAS DE Production'}\n\nvar msg0={}; msg1={}; var msg2={}; var msg3={}; var msg4={}; var msg5={}; var msg6={}; var msg7={}; var msg8={};\nmsg0.payload = conso;\nmsg0.topic = 'consoCALC';\nmsg0.measurement = 'consoCALC';\nmsg1.payload = prod;\nmsg1.topic = 'prod';\nmsg1.measurement = 'prod';\nmsg2.payload = inject;\nmsg2.topic = 'inject';\nmsg2.measurement = 'inject';\nmsg3.payload = soutir;\nmsg3.topic = 'soutir';\nmsg3.measurement = 'soutir';\nmsg4.payload = autoconso;\nmsg4.topic = 'autoconso';\nmsg4.measurement = 'autoconso';\nmsg5.payload = SnSrIdxObj;\nmsg6.payload = consoIMP;\nmsg6.topic = 'consoIMP';\nmsg6.measurement = 'consoIMP';\nmsg6.debug = Debug15;\nmsg7.payload = inject-soutir;\nmsg7.topic = 'inj-sout';\nmsg7.measurement = 'inj-sout';\n\nvar tmstmp = new Date(SnSrIdxObj.TICstamp)\nmsg8.payload =  //format d'objet pour intégration de la mesure à une base InfluDB sur un Raspberry Pi via NodeRed - node InfluxDB_batch\n[\n    {measurement: 'raspiSunshare', //capteur ou site de la mesure ou id du raspberry / du capteur\n    fields: \n        {inject: inject, //en W, injection (surplus) vers le réseau ENEDIS mesuré par LINKY\n        soutir: soutir, //en W, soutirage du réseau ENEDIS mesuré par LINKY\n        prod: prod, //en W, production photovoltaique mesurée par un compteur à impulsion de l'onduleur\n        autoconso: autoconso, //en W, autoconsommation calculée par différence autoconso =  prod - inject\n        inj_sout: inject - soutir, //en W, résultante inject-soutir vue du site (le soutirage apparait négatif)\n        consoCALC: conso, //en W, consommation totale calculé par somme : prod - inject ou soutir selon prod >0 ou prod = 0\n        consoIMP: consoIMP //en W, consommation mesurée par un compteur à impulsion dans le tableau électriquee\n        },\n    tags:\n        {pseudo: \"raspiSunshare\", \n        timestamp: tmstmp.getTime().toString()\n        }, //pseudo de l'utilisateur, référence du compteur\n    timestamp: tmstmp.getTime() //timestamp du LINKY, en millisec !! le LINKY est a l'heure FRANCAISE\n    }\n]\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];","outputs":9,"noerr":0,"x":757.9264526367188,"y":757,"wires":[["f7915f9e.5ec328","65cfeac6.5c88cc"],["f7915f9e.5ec328","65cfeac6.5c88cc"],["3bd1fa9e.27b346","65cfeac6.5c88cc"],["3bd1fa9e.27b346","65cfeac6.5c88cc"],["3bd1fa9e.27b346","65cfeac6.5c88cc"],["1fc31230.019b3e"],["776c2bfb.089b4c","65cfeac6.5c88cc"],["65cfeac6.5c88cc"],["c6d3ff9f.cfa1f8","6bbb422b.c29ef4"]]},{"id":"776c2bfb.089b4c","type":"debug","z":"da5d45d2.a3a2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","x":1030,"y":820,"wires":[]},{"id":"89b763d5.601088","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":334,"wires":[["7b4f0505.093984"]]},{"id":"d4505f55.8c6188","type":"function","z":"da5d45d2.a3a2d","name":"ProdMoy15","func":"//Ajoute une courbe de référence d'une bonne journée sur le graph\n//Prodmoy : courbe de printemps // Prodmax : Courbe dété\n\n//var ProdMoy = flow.get(\"ProdMoy\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSr15Simul = flow.get(\"SnSr15Simul\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\nvar SnSIdxObj = flow.get(\"SnSrIdxObj\");\n//var SnSrTab = flow.get(\"SnSrTab\");\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n\nvar membre = flow.get(\"membre\");\n\nvar msg1={}; var msg2={};\n\nvar prodmoy = Math.round(1000*60*60 * ((SnSrSimul.prodmoyidx - SnSr15Simul.prodmoyidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; // en W (Wh/ms)*1000*60*60//SnSrTab[4];\nvar prodmax = Math.round(1000*60*60 * ((SnSrSimul.prodmaxidx - SnSr15Simul.prodmaxidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; //SnSrTab[5]\n\nif (Math.abs(prodmoy) > membre.Pprod*1000*2) {prodmoy = 0;}\nif (Math.abs(prodmax) > membre.Pprod*1000*2) {prodmax = 0;}\n\nmsg1.payload = Math.round(prodmoy); //SnSr15Simul.prodmoyidx; //Math.round(SimulIdx[6]) - ProdMoy.prodmoy;\nmsg1.topic = 'bon_jour';\nmsg2.payload = Math.round(prodmax); //SnSr15Simul.prodmaxidx; //Math.round(SimulIdx[7]) - ProdMoy.prodmax;\nmsg2.topic = 'prodmax';\n\nSnSrSimul.soutiridx = Math.round(SnSrSimul.soutiridx);\nSnSrSimul.injectidx = Math.round(SnSrSimul.injectidx);\nSnSrSimul.prodidx = Math.round(SnSrSimul.prodidx);\nSnSrSimul.autoconsoidx = Math.round(SnSrSimul.autoconsoidx);\nSnSrSimul.prodmoyidx = Math.round(SnSrSimul.prodmoyidx); //SnSr15Simul.prodmoyidx //SnSrTab[4]\nSnSrSimul.prodmaxidx = Math.round(SnSrSimul.prodmaxidx); //SnSr15Simul.prodmaxidx //SnSrTab[5]\n//flow.set(\"SnSrTab\", SnSrTab);\nflow.set(\"SnSr15Simul\", SnSrSimul);\n\nreturn [msg1]; //ajouter prodmax si necessaire ...prends de la place sur le graphique","outputs":2,"noerr":0,"x":735,"y":705,"wires":[["f7915f9e.5ec328"],[]]},{"id":"dd7d0d7e.975cd","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":592,"wires":[["c31676f.a3c5d88"]]},{"id":"a28b0665.066bf8","type":"change","z":"da5d45d2.a3a2d","name":"DeleteVariable","rules":[{"t":"delete","p":"IMP15","pt":"flow"},{"t":"delete","p":"ProdMoy","pt":"flow"},{"t":"delete","p":"SimulIdx","pt":"flow"},{"t":"delete","p":"SnSr15","pt":"flow"},{"t":"delete","p":"SnSrFlow","pt":"flow"},{"t":"delete","p":"SnSrIMP","pt":"flow"},{"t":"delete","p":"SnSrTIC","pt":"flow"},{"t":"delete","p":"SnSrIdx","pt":"flow"},{"t":"delete","p":"SnSrRefCurve","pt":"flow"},{"t":"delete","p":"TIC15","pt":"flow"},{"t":"delete","p":"SnSrTab","pt":"flow"},{"t":"delete","p":"consoIMPidx","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":60,"wires":[[]]},{"id":"be4e59e1.8e0d08","type":"inject","z":"da5d45d2.a3a2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["a28b0665.066bf8"]]},{"id":"6b19760f.f5a568","type":"function","z":"da5d45d2.a3a2d","name":"INFLUX","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrIdxObj = flow.get('SnSrIdxObj');  //Au choix avec SnSrTab\nvar SnSrSimul = flow.get('SnSrSimul');\nvar membre = flow.get('membre');\n\nmsg.topic = SnSrIdxObj.TICtime;   //Au choix avec SnSrTab \nmsg.payload = \n    [{\n        measurement: \"soutiridx\",\n        fields:{soutiridx: SnSrIdxObj.soutiridx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"injectidx\",\n        fields:{injectidx: SnSrIdxObj.injectidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"prodidx\",\n        fields:{prodidx: SnSrIdxObj.prodidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n    {\n        measurement: \"autoconsoidx\",\n        fields:{autoconsoidx: Math.min((-1 * (SnSrIdxObj.prodidx - SnSrIdxObj.injectidx)), 0)},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    }]\n    \nreturn msg;\n // msg.payload = \n//{ tstamp: stamp2,\n // data: {\n //   Soutir15 : SnSrFlow2[3],\n \n //    Inject15 : SnSrFlow2[4],\n //   Prod15 : SnSrFlow2[8]\n   //   }\n\n\n//return [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":801,"y":536,"wires":[["18e6577a.0ea5c9"],[],[],[],[],[]]},{"id":"7c8a0aa3.b78b4c","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":669,"y":535,"wires":[["6b19760f.f5a568"]]},{"id":"18e6577a.0ea5c9","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":500,"wires":[]},{"id":"ebbd8370.5d36e","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":968.9999389648438,"y":188.00003051757812,"wires":[]},{"id":"1fc31230.019b3e","type":"function","z":"da5d45d2.a3a2d","name":"ChgtDate","func":"\nvar SnSrIdxObj = {};\nSnSrIdxObj = msg.payload;\n\nvar timeNow = new Date(SnSrIdxObj.TICtime);\n\n//Changement de jour, total journalier\nvar hours  = timeNow.getHours();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\nif (hours == 23) // mis a jour 4 fois pendant la derniere heure du jour\n    {var SnSrHier = RED.util.cloneMessage(flow.get('SnSrHier'));\n    var exyear = SnSrHier.yesterday.getFullYear();\n    var exdate = SnSrHier.yesterday.getDate();\n    var soutirj = SnSrHier.soutirhier; \n    var injectj = SnSrHier.injecthier;\n    var autoconsoj = SnSrHier.autoconsohier;\n    var consoj = SnSrHier.consohier;\n    var prodj = SnSrHier.prodhier;\n\n    \n        if (exdate != thisdate) // seulement au premier passage\n         {var autoconsoj = 0;\n        var soutirj = 0; \n        var injectj = 0;\n        var prodj = 0;\n        }\n        \n    // soutirage, injection, autoconsommation, consommation, production\n    var autoconsoj = autoconsoj + (SnSrIdxObj.prodidx - SnSrHier.prodidx) - (SnSrIdxObj.injectidx - SnSrHier.injectidx);\n    var soutirj = soutirj + (SnSrIdxObj.soutiridx - SnSrHier.soutiridx);\n    var injectj = injectj + (SnSrIdxObj.injectidx -  SnSrHier.injectidx);\n    var prodj =  prodj + (SnSrIdxObj.prodidx - SnSrHier.prodidx);\n    \n    SnSrHier.yesterday = SnSrIdxObj.TICstamp;\n    SnSrHier.soutirhier = soutirj; //soutir\n    SnSrHier.injecthier = injectj; //inject\n    SnSrHier.autoconsohier = prodj - injectj; //autoconso\n    SnSrHier.consohier = soutirj + prodj - injectj; //conso\n    SnSrHier.prodhier = prodj;  //prod\n    SnSrHier.soutiridx = SnSrIdxObj.soutiridx; //SoutirIdx\n    SnSrHier.injectidx = SnSrIdxObj.injectidx; //InjectIdx\n    SnSrHier.prodidx = SnSrIdxObj.prodidx; //ProdIdx\n\n    flow.set('SnSrHier', SnSrHier);\n\n    var SnSrCoin = flow.get('SnSrCoin');\n    var SnSrPile = injectj - soutirj;\n    SnSrCoin[1] += Math.round(SnSrPile/1000);\n    flow.set('SnSrCoin', SnSrCoin);\n\n    \n    // changement d'année, remise a 0 à 23:00 le 01 janvier\n    \n    if ((exyear +1) == thisyear) \n        {flow.set('SnSrCoin', [SnSrCoin[1], 0, thisyear]);\n        }\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"x":944.9999847412109,"y":775,"wires":[[]]},{"id":"7e23c0c7.d0596","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1147,"y":532,"wires":[]},{"id":"5ee70a52.8a0dbc","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":407,"y":632,"wires":[["7c8a0aa3.b78b4c","dd7d0d7e.975cd","d4505f55.8c6188","765946f9.dc3cb8"]]},{"id":"765946f9.dc3cb8","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":740,"wires":[["bb5aba16.e7eb"]]},{"id":"8ef4edbb.d2e5e8","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tab","x":884.8402709960938,"y":20,"wires":[]},{"id":"9da51ebc.7cd22","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":472.3166961669922,"y":308.5668182373047,"wires":[]},{"id":"72f84f31.b17038","type":"function","z":"da5d45d2.a3a2d","name":"IMP2conso","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\n\nvar consoIMPidx = Math.round(msg.count);\n\nSnSrIdxObj.consoIMPidx = consoIMPidx;\nflow.set ('SnSrIdxObj', SnSrIdxObj); \n\nmsg1.payload = (SnSrIdxObj.consoIMPidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // // consoIMPidx.toString().substring(2)/1000;\nmsg1.topic=\"consoidx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, consoIMPidx, timeNow];\nmsg3.topic=\"CONSO\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":666.75,"y":341.75,"wires":[["1c09d1d8.2290de"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"2fb63c2e.c6f504","type":"function","z":"da5d45d2.a3a2d","name":"blank[]","func":"\nvar blank = []\nmsg.payload = blank;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[[]]},{"id":"425fc88a.6d94a8","type":"inject","z":"da5d45d2.a3a2d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":759.5,"y":660.7666625976562,"wires":[["2fb63c2e.c6f504"]]},{"id":"1c09d1d8.2290de","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":410,"wires":[["2b60b10b.556b76"]]},{"id":"54627232.9e90a4","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020,"y":264,"wires":[["9fd6c543.044fd8"]]},{"id":"63ca7e4c.8356b8","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1020.3333129882812,"y":230.33334350585938,"wires":[["c37d3fca.d25c3"]]},{"id":"b6b65845.44d65","type":"inject","z":"3b0b656d.7c43fa","name":"","topic":"","payload":"1","payloadType":"num","repeat":"10800","crontab":"","once":true,"onceDelay":"5","x":270,"y":300,"wires":[["17f3a4d2.1ec5f3"]]},{"id":"6be06e1e.dd9b3","type":"function","z":"3b0b656d.7c43fa","name":"","func":"var msg1 = { payload:msg.payload.temp_maxc };\nvar msg2 = { payload:msg.payload.tempc };\nvar msg3 = { payload:msg.payload.temp_minc };\nvar msg4 = { payload:msg.payload.description};\nvar msg5 = { payload:msg.payload.icon};\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];","outputs":5,"noerr":0,"x":630,"y":300,"wires":[["59707d7a.9e12ac"],["9d4e9b5c.8470c","be69abad.2a0bd"],["78cd4fd.2cde2b"],["33674a30.e6cd26"],["a302a3db.6148e8"]],"outputLabels":["Temp Max","Current Temp","Temp Min","Description","Weather icon"]},{"id":"e17a1026.7cf818","type":"inject","z":"da5d45d2.a3a2d","name":"","topic":"","payload":"1","payloadType":"num","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":190,"y":420,"wires":[["f52f8d7.afa6ef"]]},{"id":"17648267.c3c186","type":"function","z":"da5d45d2.a3a2d","name":"météo","func":"//******************\n// Cas de la météo du moment (un seul objet) \nvar msg1 = { payload:msg.payload.temp_maxc };\nvar msg2 = { payload:msg.payload.clouds };\nvar msg3 = { payload:msg.payload.temp_minc };\nvar msg4 = { payload: msg.payload.detail + \" , \" + msg.payload.weather};\nvar msg5 = { payload:msg.payload.icon};\n\n//******************\n// Cas de la prévision à 7j\n// NB : La localisation ne passe pas en paramètre\n\n//var OpenWeather = msg.payload;\n//var data = [];\n//\n//for (i = 0; i < 40; i++) \n//    {\n//    var x = OpenWeather[i].dt;\n//    var y = OpenWeather[i].clouds.all;\n//    var tab =[];\n//    tab[0] = {\"x\":x, \"y\":y};\n//    data.push(tab);\n//    }\n//var NebulTable = [];\n//NebulTable[0] = \n //   {\n//\"series\": [\"nébulosité\"],\n////\"data\": data,\n//\"labels\": [\"nébul.\"]\n//    }\n\n//var MeteoDemain = OpenWeather[8]; //le temps dans 24h\n//var msg1 = {payload:MeteoDemain};\n//var msg2 = {topic:\"nébul.\", payload:MeteoDemain.clouds.all};\n//var msg3 = {};\n//var msg4 = {payload:MeteoDemain.weather[0].description};\n//var msg5 = {payload:MeteoDemain.weather[0].icon};\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];","outputs":5,"noerr":0,"x":567,"y":425,"wires":[[],["f5560fbc.38977","b9f6b6a.d5a0e48"],[],["ba539fab.7e5eb8"],["d8e8e3e1.e61388"]],"outputLabels":["Temp Max","Current Temp","Temp Min","Description","Weather icon"]},{"id":"f5560fbc.38977","type":"debug","z":"da5d45d2.a3a2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":480,"wires":[]},{"id":"fd959805.fae0a","type":"inject","z":"3b0b656d.7c43fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"10800","crontab":"","once":true,"onceDelay":"5","x":230,"y":660,"wires":[["e79ba79c.150e1","e692c90d.257dd","f202f98c.1cb4e"]]},{"id":"e79ba79c.150e1","type":"function","z":"3b0b656d.7c43fa","name":"test","func":"\nvar tmstp = msg.payload;\n\nmsg.payload = [{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": tmstp + 60000, \"y\": 5 },\n     { \"x\": tmstp + 600000, \"y\": 4 },\n     { \"x\": tmstp + 2400000, \"y\": 2 }\n    ],\n    [{ \"x\": tmstp + 60000, \"y\": 6 },\n     { \"x\": tmstp + 600000, \"y\": 7 },\n     { \"x\": tmstp + 2400000, \"y\": 6 }\n    ],\n    [{ \"x\": tmstp + 60000, \"y\": 7 },\n     { \"x\": tmstp + 600000, \"y\": 7 },\n     { \"x\": tmstp + 2400000, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["334c7bc3.f4a7cc"]]},{"id":"e692c90d.257dd","type":"debug","z":"3b0b656d.7c43fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":640,"wires":[]},{"id":"28450448.741a94","type":"function","z":"3b0b656d.7c43fa","name":"nébul5j","func":"var OpenWeather = msg.payload;\nvar data = [];\nvar NebulTab = [];\n\nfor (i = 0; i < 40; i++) \n    {\n    var tmstp = new Date(OpenWeather[i].dt*1000).getTime();\n    var nebul= OpenWeather[i].clouds.all;\n    var tab =[];\n    tab[0] = {\"x\":tmstp, \"y\":nebul};\n    data.push(tab[0]);\n    }\n\nmsg.payload = \n[{\n    \"series\": [\"nébulosité\"],\n    \"data\": [data],\n    \"labels\": [\"nébul.\"]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["200c7299.fcf61e","e692c90d.257dd"]]},{"id":"7e2a0f97.77f828","type":"debug","z":"3b0b656d.7c43fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":760,"wires":[]},{"id":"f8d1ac5a.556848","type":"debug","z":"3b0b656d.7c43fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":380,"wires":[]},{"id":"cd3ef3b6.fca7e","type":"function","z":"3b0b656d.7c43fa","name":"","func":"\nvar nowstmp = new Date(msg.payload).getTime();\nvar tmsmpt1 = nowstmp - 7*24*60+60*1000;\n\nmsg.payload = \"<iframe src=\\\"http://localhost:3000/d/EwBHXmigz/energie?orgId=1&from=\" + tmsmpt1 + \"&to=\" + nowstmp + \"\\\" width=\\\"650\\\" height=\\\"300\\\" frameborder=\\\"0\\\"></iframe>\";\n\nreturn msg;\n\n//<iframe src=\"https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4\" width=\"650\" height=\"300\" frameborder=\"0\"></iframe>\n","outputs":1,"noerr":0,"x":490,"y":840,"wires":[["d0f14903.a353c8","7e2a0f97.77f828"]]},{"id":"7b0151b7.b52e8","type":"inject","z":"3b0b656d.7c43fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":840,"wires":[["cd3ef3b6.fca7e"]]},{"id":"c6d3ff9f.cfa1f8","type":"debug","z":"da5d45d2.a3a2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":920,"wires":[]},{"id":"6bbb422b.c29ef4","type":"delay","z":"da5d45d2.a3a2d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":880,"wires":[["25931a73.c8c34e"]]},{"id":"1609b2d.90d544d","type":"inject","z":"95a58565.467e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":280,"y":240,"wires":[["259d061c.74e012"]]},{"id":"6e679180.1050b8","type":"function","z":"95a58565.467e6","name":"","func":"\nvar influx = [];\ninflux =\n[\n   {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"06:30:00\",\n    PARIS: \"02:00\",\n    INJECT: 0,\n    SOUTIR: 192,\n    AUTOCONSO: -4,\n    PROD: 0,\n    CONSOCALC: 196,\n    inj_sout: -192,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 6,\n    MIN: 30,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"06:45:00\",\n    PARIS: \"02:00\",\n    INJECT: 0,\n    SOUTIR: 148,\n    AUTOCONSO: -8,\n    PROD: 9,\n    CONSOCALC: 156,\n    inj_sout: -148,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 6,\n    MIN: 45,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"07:00:00\",\n    PARIS: \"02:00\",\n    INJECT: 0,\n    SOUTIR: 124,\n    AUTOCONSO: -36,\n    PROD: 33,\n    CONSOCALC: 160,\n    inj_sout: -124,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 7,\n    MIN: 0,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"07:15:00\",\n    PARIS: \"02:00\",\n    INJECT: 0,\n    SOUTIR: 100,\n    AUTOCONSO: -64,\n    PROD: 64,\n    CONSOCALC: 164,\n    inj_sout: -100,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 7,\n    MIN: 15,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"07:30:00\",\n    PARIS: \"02:00\",\n    INJECT: 0,\n    SOUTIR: 64,\n    AUTOCONSO: -168,\n    PROD: 162,\n    CONSOCALC: 232,\n    inj_sout: -64,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 7,\n    MIN: 30,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"07:45:00\",\n    PARIS: \"02:00\",\n    INJECT: 36,\n    SOUTIR: 12,\n    AUTOCONSO: -259,\n    PROD: 298,\n    CONSOCALC: 271,\n    inj_sout: 24,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 7,\n    MIN: 45,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"08:00:00\",\n    PARIS: \"02:00\",\n    INJECT: 12,\n    SOUTIR: 64,\n    AUTOCONSO: -232,\n    PROD: 247,\n    CONSOCALC: 296,\n    inj_sout: -52,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 8,\n    MIN: 0,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"08:15:00\",\n    PARIS: \"02:00\",\n    INJECT: 28,\n    SOUTIR: 8,\n    AUTOCONSO: -248,\n    PROD: 272,\n    CONSOCALC: 256,\n    inj_sout: 20,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 8,\n    MIN: 15,\n    SEC: 0,\n    millis: 0\n  },\n  {\n\n    JOURNEE: \"2019-07-01\",\n    Time: \"08:30:00\",\n    PARIS: \"02:00\",\n    INJECT: 76,\n    SOUTIR: 0,\n    AUTOCONSO: -328,\n    PROD: 405,\n    CONSOCALC: 328,\n    inj_sout: 76,\n    ANNEE: 2019,\n    MOIS_1: 6,\n    JOUR: 1,\n    HEURE: 8,\n    MIN: 30,\n    SEC: 0,\n    millis: 0\n  }\n]\n\n\n\nvar obj = {};\nobj = influx[msg.count-1];\n\nvar msg1 = {}; var msg8 = {};//var msg2 = {};var msg3 = {};var msg4 = {};\n//var d = new Date();\n//var tmstmp = //obj.time; //d.getTime() - 24*60*60*1000;\nvar d = new Date(obj.ANNEE, obj.MOIS_1, obj.JOUR, obj.HEURE, obj.MIN, obj.SEC, obj.millis);\n//var d2 = d.getTime() + (msg.count -1)*900000;\n//var date2 = new Date(d2);\nmsg8.count = msg.count;\n\n//msg1.payload = \n//[\n//   {measurement: \"inject4\",\n//    fields: {inject: obj.inject},\n//    timestamp: date2.getTime(),\n//    },\n//    {measurement: \"soutir4\",\n////    fields: {soutir: obj.soutir},\n//    timestamp: date2.getTime(),\n//    },\n//    {measurement: \"autoconso4\",\n//    fields: {autoconso: obj.autoconso},\n//    timestamp: date2.getTime(),\n//    },\n//    {measurement: \"prod4\",\n//    fields: {prod: obj.prod},\n//    timestamp: date2.getTime(),\n//    }\n//]\n\nmsg8.payload =  //format d'objet pour intégration de la mesure à une base InfluDB sur un Raspberry Pi via NodeRed - node InfluxDB_batch\n[{\n    measurement: 'raspiSunshare', //capteur ou site de la mesure ou id du raspberry / du capteur\n    fields: \n        {inject: obj.INJECT, //en W, injection (surplus) vers le réseau ENEDIS mesuré par LINKY\n        soutir: obj.SOUTIR, //en W, soutirage du réseau ENEDIS mesuré par LINKY\n        prod: obj.PROD, //en W, production photovoltaique mesurée par un compteur à impulsion de l'onduleur\n        autoconso: obj.AUTOCONSO, //en W, autoconsommation calculée par différence autoconso =  prod - inject\n        inj_sout: obj.inj_sout, //en W, résultante inject-soutir vue du site (le soutirage apparait négatif)\n        consoCALC: obj.CONSOCALC, //en W, consommation totale calculé par somme : prod - inject ou soutir selon prod >0 ou prod = 0\n        consoIMP: 0 //en W, consommation mesurée par un compteur à impulsion dans le tableau électriquee\n        },\n    tags:\n        {pseudo: \"raspiSunshare\", \n        timestamp: d.getTime().toString()\n        }, //pseudo de l'utilisateur, référence du compteur\n    timestamp: d.getTime() //timestamp du LINKY, en millisec !! le LINKY est a l'heure FRANCAISE\n}]\n\nif (msg.count > 10) {msg8.payload = 0}\nreturn msg8;","outputs":1,"noerr":0,"x":618.7499847412109,"y":234.86663818359375,"wires":[["3e3613e3.847f5c","e21f8498.70e738"]]},{"id":"e21f8498.70e738","type":"debug","z":"95a58565.467e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":160,"wires":[]},{"id":"3e3613e3.847f5c","type":"debug","z":"95a58565.467e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":790,"y":140,"wires":[]},{"id":"333e22a4.8cbebe","type":"function","z":"fb700849.f2f53","name":"TICserie","func":"// Decodage trames LINKY mode STANDARD - www.sunshare.fr\n// Objectif script NodeRed\n\n// fichier décrivant la TIC Enedis-NOI-CPT_54E\n// ADSC 12 // DATE 13 // LTARF 16 // EAST 9 Wh // EAIT 9 Wh \n// URMS1 3 V //PREF 2 kVA // SINSTS 5 VA // PRM 14\n\n//passage de la trame en variable\nvar trame_tic=msg.payload;\nvar SnSrIdxObj = flow.get('SnSrIdxObj');//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrObj = {};\n\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n\n//recherche des chaines, passage en nombres\nvar tADSC=\"ADSC\"\nvar lADSC=trame_tic.indexOf(\"ADSC\")+tADSC.length+1;\nvar ADSC=trame_tic.substring(lADSC,lADSC+12);\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\")+tDATE.length+1;\nvar DATE_label=trame_tic.substring(lDATE,lDATE+1);\nvar DATE=\"20\"+trame_tic.substring(lDATE+1,lDATE+13);\nvar tLTARF=\"LTARF\"\nvar lLTARF=trame_tic.indexOf(\"LTARF\")+tLTARF.length+1;\nvar LTARF=trame_tic.substring(lLTARF,lLTARF+16);\n\nif (LTARF.indexOf(\"BAS\",0)>0) {var LTARF='BASE'; } //BASE chez EDF, ENERCOOP....diffère selon chaque fournisseur\n        else if (LTARF.indexOf(\"HC.\",0)>0) {var LTARF='HC/HP'; } //HC.. HP/HC chef EDF\n        else if (LTARF.indexOf(\"EJP\",0)>0) {var LTARF='EJP'; } //EJP chez EDF\n        else if (LTARF.indexOf(\"BBR\",0)>0) {var LTARF='HC/HP'; } //TEMPO chez EDF\n        else {var LTARF='INCONNU'; } //\n    \nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\")+tEAST.length+1;\nvar EAST=trame_tic.substring(lEAST,lEAST+9);\nvar nEAST=parseInt(EAST);\n\nvar tEAIT=\"EAIT\"\nvar EAIT=\"NO INJECT\"\nif (trame_tic.indexOf(\"EAIT\",0)>0) \n\t{var lEAIT=trame_tic.indexOf(\"EAIT\")+tEAIT.length+1;\n\tvar EAIT=trame_tic.substring(lEAIT,lEAIT+9);\n\t} \nvar nEAIT=parseInt(EAIT);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\")+tURMS1.length+1;\nvar URMS1=trame_tic.substring(lURMS1,lURMS1+3);\nvar nURMS1=parseInt(URMS1);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\")+tPREF.length+1;\nvar PREF=trame_tic.substring(lPREF,lPREF+2);\nvar nPREF=parseInt(PREF);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\")+tSINSTS.length+1;\nvar SINSTS=trame_tic.substring(lSINSTS,lSINSTS+5);\nvar nSINSTS=parseInt(SINSTS);\nvar tSINSTI=\"SINSTI\"\nvar lSINSTI=trame_tic.indexOf(\"SINSTI\")+tSINSTI.length+1;\nvar SINSTI=trame_tic.substring(lSINSTI,lSINSTI+5);\nvar nSINSTI=parseInt(SINSTI);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\")+tPRM.length+1;\nvar PRM=trame_tic.substring(lPRM,lPRM+14);\nvar nPRM=parseInt(PRM);\n\nvar SimulAnnee = DATE.substring(0,4);\nvar SimulMois = parseInt(DATE.substring(4,6));\nvar SimulJour = DATE.substring(6,8);\nvar SimulHours = DATE.substring(8,10);\nvar SimulMin = DATE.substring(10,12);\nvar SimulSec = DATE.substring(12,14);\n\nSnSrIdxObj.TICtime = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\nSnSrIdxObj.TICstamp = SnSrIdxObj.TICtime.getTime(); \nSnSrIdxObj.tarif = LTARF;\nSnSrIdxObj.soutiridx = nEAST; \nSnSrIdxObj.injectidx = nEAIT; \nSnSrIdxObj.Uinst = nURMS1; \nSnSrIdxObj.PuisRef = nPREF; \nSnSrIdxObj.PuisInst = Math.max(nSINSTS, nSINSTI); \nSnSrIdxObj.nPRM = nPRM; \n\nflow.set('SnSrIdxObj',SnSrIdxObj);\n\n//SnSrObj.timenow = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\n//SnSrObj.tarif = LTARF; SnSrObj.SoutirIdx = nEAST; SnSrObj.InjectIdx = nEAIT; SnSrObj.Uinst = nURMS1; SnSrObj.PuisRef = nPREF; SnSrObj.PuisInst = nSINSTS; SnSrObj.nPRM = nPRM; \n//SnSrIdx [0] = SnSrObj.timenow; \n//SnSrIdx [1] = nEAST;\n//SnSrIdx [2] = nEAIT;\n//flow.set('SnSrIdx', SnSrIdx);\n//msg.SnSrObj = SnSrObj;\nmsg.timenow = SnSrIdxObj.TICtime; //SnSrObj.timenow;\n\nmsg0.payload= SnSrIdxObj;\n//msg0.payload = [ADSC,DATE_label,DATE,LTARF,nEAST,nEAIT,nURMS1,nPREF,nSINSTS,nPRM];\nmsg1.payload = SnSrIdxObj.Uinst;\nmsg1.topic = 'tension'\nmsg2.payload = SnSrIdxObj.PuisInst;\nmsg2.topic = 'puissance'\nmsg3.payload = (SnSrIdxObj.soutiridx/1000).toFixed(2); // Math.round(SnSrIdxObj.soutiridx/100)/10; //arrondi au kWh avec 1 digit //nEAST.toString().substring(2)/1000;\nmsg3.topic = 'SoutirIdx'\nmsg4.payload = (SnSrIdxObj.injectidx/1000).toFixed(2); // Math.round(SnSrIdxObj.injectidx/100)/10; //arrondi au kWh avec 1 digit //nEAIT.toString().substring(2)/1000;\nmsg4.topic = 'InjectIdx'\nif (isNaN(nEAIT)) {msg4.payload ='LINKY_HS';}\n\nreturn [msg0, msg1, msg2, msg3, msg4];\n","outputs":5,"noerr":0,"x":799,"y":273.0000305175781,"wires":[["ce22bbb7.c5b348"],["fb27151e.3868e8"],["677c0896.09e63"],["4cfebf19.e3cf5"],["9bbf87f4.04034"]]},{"id":"f03de3ea.91ffe8","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":200,"wires":[]},{"id":"6b41ad21.57e87c","type":"function","z":"fb700849.f2f53","name":"IMPserie","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nif (msg.simul == \"SIMULATION\") \n    {timeNow = new Date(msg.timenow);}\n    else {var timeNow = new Date();}\n        \n//var SnSrIdx = flow.get('SnSrIdx');\nvar SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n\nvar lProdIdx = Math.round(msg.count);\n//var lProdIdx = Math.round(SnSrSimul.prodidx);//msg.count);\n\n \nSnSrIdxObj.IMPstamp = timeNow.getTime(); //SnSrIdx[3]\nSnSrIdxObj.IMPtime = timeNow; //SnSrIdx[3]} //\n\nSnSrIdxObj.prodidx = lProdIdx; //SnSrIdx[4]\nflow.set ('SnSrIdxObj', SnSrIdxObj); //flow.set('SnSrIdx', SnSrIdx);\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, lProdIdx, timeNow];\nmsg3.topic=\"IMP15\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"x":640,"y":328,"wires":[["6b5b0f78.a69e68"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"6b5b0f78.a69e68","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":990.9999389648438,"y":369,"wires":[["46730e4.633bff"]]},{"id":"4cfebf19.e3cf5","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":990.9999389648438,"y":329,"wires":[["35075c33.793dd4"]]},{"id":"27c9cb11.289d6c","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":510,"y":220,"wires":[]},{"id":"4e56bde0.29b574","type":"function","z":"fb700849.f2f53","name":"flow & global init","func":"//global.set (\"gAUTOC30\", null);\n//global.set (\"gAutoC30\", null);\n//global.set (\"gProd30\", null);\n//global.set (\"gInject30\", null);\n//global.set (\"gProdIdx\", null);\n//global.set (\"gSoutir30\", null);\n//global.set (\"gmsg\", null);\n//global.set (\"pTimeStamp\", null);\n//flow.set (\"TICflow\", null);\n//flow.set (\"PROD15\", null);\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar timeNow = new Date(msg.payload);\n\n//var exdate = new Date(timeNow.getTime() - 24*60*60*1000); //la veille\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1; // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n//minutes pour le prochain TIC15\n//var minutes2 = (Math.round(minutes/15)+1)*15-15;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6999999, 6999999, minutes2, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 6999999, minutes2, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null]);\n//flow.set (\"SimulIdx\", [timeNow, 6999999, 6999999, 6999999, 6999999, timeNow, 6999999, 6999999]); //soutir, inject, prod, autoconso\n//flow.set (\"membre\", ['pseudo', 021675051387, 14282923268426, 6, 'BASE', 3]);\n//flow.set (\"SnSrHier\", [exdate, '1er jour', '1er jour', '1er jour', '1er jour', '1er jour', 6999999, 6999999, 6999999]);\nflow.set (\"SnSrCoin\", [9, 0, timeNow.getFullYear()]);\n//flow.set (\"SnSrIdx\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSr15\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n\nflow.set (\"SnSrIdxObj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : 99999});\n//flow.set (\"SnSrStack\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":6999999,\"injectidx\":6999999,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\nflow.set (\"SnSr15Simul\", {\"timestamp\":timeNow.getTime(),\"prodmoyidx\":null,\"prodmaxidx\":null});\nflow.set (\"membre\", {\"pseudo\":'pseudo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3});\nflow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\":'init', \"injecthier\":'init', \"autoconsohier\":'init', \"consohier\":'init', \"prodhier\":'init', \"soutiridx\":'init', \"injectidx\":'init', \"prodidx\":'init'});\nflow.set (\"SnSrSimul\", {\"timestamp\":timeNow.getTime(),\"time\":timeNow,\"soutiridx\":6999999,\"injectidx\":6999999,\"prodidx\":6999999,\"autoconsoidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n//flow.set (\"SnSrTab\", [timeNow.getTime(),6999999,6999999,6999999,6999999,6999999]);\nflow.set (\"SnSr15Obj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : null});\nflow.set (\"onTime\", timeNow);\n\n\nmsg.payload='ok';\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":128,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"ac546235.09c8e8","type":"inject","z":"fb700849.f2f53","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163,"y":128,"wires":[["4e56bde0.29b574"]]},{"id":"6fd45184.114ee","type":"inject","z":"fb700849.f2f53","name":"Timestamp 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"25","x":140,"y":580,"wires":[["781ad254.217eac"]]},{"id":"eb99abf2.92bea8","type":"function","z":"fb700849.f2f53","name":"TICtest","func":"\nvar test = msg.payload.indexOf(\"ADSC\");\nif ((test > 0) && (test < 10))\n    {msg.topic='TICok';\n    msg.timenow = new Date();\n    return msg;}\n    \n//msg.topic = msg.payload.substring(2,6);\n//if (msg.topic == 'ADSC')\n//    {msg.topic='TICok';\n //   return msg;} // sinon le signal TIC est mauvais....Pas de msg\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["27c9cb11.289d6c","f03de3ea.91ffe8","9b62ed95.e4a9c8"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"3928cfae.e9aeb8","type":"function","z":"fb700849.f2f53","name":"JourneeHIER","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrHier=flow.get(\"SnSrHier\");\nvar SnSrCoin=flow.get(\"SnSrCoin\");\nvar yesterday = new Date(SnSrHier.yesterday);\n\n//Transmission des éléments pour le bilan de la veille\nmsg0.topic = 'TimeStampHier';\nmsg0.measurement = 'TimeStampHier';\nmsg0.retentionPolicy = '30d';\nmsg0.payload = yesterday.toLocaleDateString() || 0;\nmsg1.topic = 'SoutirageHier';\nmsg1.measurement = 'SoutirageHier';\nmsg1.retentionPolicy = '30d';\nmsg1.payload = SnSrHier.soutirhier/1000 || 0;\nmsg2.topic = 'InjectionHier';\nmsg2.measurement = 'InjectionHier';\nmsg2.retentionPolicy = '30d';\nmsg2.payload = SnSrHier.injecthier/1000 || 0;\nmsg3.topic = 'AutoconsoHier';\nmsg3.measurement = 'AutoconsoHier';\nmsg3.retentionPolicy = '30d';\nmsg3.payload = SnSrHier.autoconsohier/1000 || 0;\nmsg4.topic = 'ProductionHier';\nmsg4.measurement = 'ProductionHier';\nmsg4.retentionPolicy = '30d';\nmsg4.payload = SnSrHier.prodhier/1000 || 0;\nmsg5.topic = 'SnSrCoin';\nmsg5.measurement = 'SnSrCoin';\nmsg5.retentionPolicy = '30d';\nmsg5.payload = SnSrCoin;\n\n//Cas particulier du 1er jour\nvar Dt = new Date().getTime()-yesterday.getTime();\nif (Dt < 24*60*60*1000) \n    {SnSrHier.soutirhier = \"1er jour\";\n    SnSrHier.injecthier = \"1er jour\";\n    SnSrHier.autoconsohier = \"1er jour\";\n    SnSrHier.consohier = \"1er jour\";\n    flow.set('SnSrHier', SnSrHier);\n    msg1.payload = \"1er jour\";\n    msg2.payload = \"1er jour\";\n    msg3.payload = \"1er jour\";\n    msg4.payload = \"1er jour\";\n    }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":770,"y":540,"wires":[["494e9315.afabdc","86798cfa.7f8078"],["8147e2d4.8d80a","86798cfa.7f8078"],["a342880e.2739e","86798cfa.7f8078"],["579b38ff.2740f8","86798cfa.7f8078"],["89200a42.b3c59","86798cfa.7f8078"],["381945e0.d5a2ea"]]},{"id":"bc92254e.249e38","type":"function","z":"fb700849.f2f53","name":"SnSr15","func":"\n//jaune #FCFC44 // bleu #1F77B4 // orange #EB7B16 // vert clair #98DF8A // gris #848585 // vert foncé #17A822\n\nvar SnSrIdxObj = RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\n//var SnSrTab = flow.get('SnSrTab');\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\nvar membre = flow.get('membre');\n\n//var SnSrTab = [];\n//SnSrTab[0] = SnSrIdxObj.TICstamp;\n//SnSrTab[1] = SnSrIdxObj.soutiridx;\n//SnSrTab[2] = SnSrIdxObj.injectidx;\n//SnSrTab[3] = SnSrIdxObj.prodidx;\n//SnSrTab[4] = Math.round(SnSrSimul.prodmoyidx);\n//SnSrTab[5] = Math.round(SnSrSimul.prodmaxidx);\n//flow.set('SnSrTab', SnSrTab);\n\nvar soutir = (SnSrIdxObj.soutiridx - SnSr15Obj.soutiridx) || 0;\nvar inject = (SnSrIdxObj.injectidx -  SnSr15Obj.injectidx)  || 0; \nvar prod = (SnSrIdxObj.prodidx - SnSr15Obj.prodidx)  || 0; \nvar consoIMP = (SnSrIdxObj.consoIMPidx - SnSr15Obj.consoIMPidx) || 0;\n\nvar Debug15 = {\"soutir\":soutir, \"inject\":inject, \"prod\":prod, \"conso\":'init',\"autoconso\":'init', \"Pprod\":membre.Pprod, \"Psoutir\":membre.Psoutir};\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif (Math.abs(consoIMP) > membre.Psoutir*1000) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\n\n// Cas ou LINKY ne remonte pas l'injection, 2e compteur à impulsion\n// On reconstitue un index d'injection à partir de la consommation totale\nif (isNaN(SnSrIdxObj.injectidx))  // && soutir === 0 // LINKY non fonctionnel et journée : soutir = 0 => inject > 0 // (typeof SnSrIdxObj.injectidx != \"number\") \n    {inject = Math.max((prod - consoIMP),0);\n    SnSrIdxObj.injectidx = SnSr15Obj.injectidx + inject;\n    }\n    \n// CAS GENERAL : LINKY fonctionnel remonte injectidx ou soutir > 0 (la nuit)\nvar autoconso = -1 * (prod - inject) || 0; // A VERIFIER cas prod faible (< conso), autoconso != 0\nvar conso = soutir - autoconso; // autoconso < 0\n\nflow.set('SnSr15Obj', SnSrIdxObj); //Au choix avec SnSrTab au dessus\n\nvar soutir = Math.round(1000*60*60*(soutir/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar inject = Math.round(1000*60*60*(inject/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar prod = Math.round(1000*60*60*(prod/(SnSrIdxObj.IMPstamp - SnSr15Obj.IMPstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n//var consoIMP = Math.round(1000*60*60*(inject/(SnSrIdxObj.stamp - SnSr15Obj.TICstamp))); // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar autoconso = Math.round(1000*60*60*(autoconso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nvar conso = Math.round(1000*60*60*(conso/(SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp))) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n\nDebug15.autoconso = autoconso; Debug15.conso = conso; \n\nif ((prod === 0) && (inject > 0))\n    {var alarm = 'Erreur IMPULSION'}\nif ((soutir < 0) || (inject < 0))\n    {var alarm = 'Erreur TIC'}\nif ((prod === 0) && (inject === 0))\n    {var alarm = 'PAS DE Production'}\n\nvar msg0={}; msg1={}; var msg2={}; var msg3={}; var msg4={}; var msg5={}; var msg6={}; var msg7={};\nmsg0.payload = conso;\nmsg0.topic = 'consoCALC';\nmsg0.measurement = 'consoCALC';\nmsg1.payload = prod;\nmsg1.topic = 'prod';\nmsg1.measurement = 'prod';\nmsg2.payload = inject;\nmsg2.topic = 'inject';\nmsg2.measurement = 'inject';\nmsg3.payload = soutir;\nmsg3.topic = 'soutir';\nmsg3.measurement = 'soutir';\nmsg4.payload = autoconso;\nmsg4.topic = 'autoconso';\nmsg4.measurement = 'autoconso';\nmsg5.payload = SnSrIdxObj;\nmsg6.payload = consoIMP;\nmsg6.topic = 'consoIMP';\nmsg6.measurement = 'consoIMP';\nmsg6.debug = Debug15;\nmsg7.payload = inject-soutir;\nmsg7.topic = 'inj-sout';\nmsg7.measurement = 'inj-sout';\n\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];","outputs":8,"noerr":0,"x":690.9264526367188,"y":705,"wires":[["8a890d6d.fb44"],["8a890d6d.fb44"],["1075bb37.0ad335"],["1075bb37.0ad335"],["1075bb37.0ad335"],["aa653c97.20233"],["eca08d5b.28b868"],[]]},{"id":"eca08d5b.28b868","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","x":963,"y":768,"wires":[]},{"id":"9bbf87f4.04034","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":990.9999389648438,"y":349,"wires":[["9083807a.4a79a8"]]},{"id":"311b0337.e1c6bc","type":"function","z":"fb700849.f2f53","name":"ProdMoy15","func":"//Ajoute une courbe de référence d'une bonne journée sur le graph\n//Prodmoy : courbe de printemps // Prodmax : Courbe dété\n\n//var ProdMoy = flow.get(\"ProdMoy\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSr15Simul = flow.get(\"SnSr15Simul\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\nvar SnSIdxObj = flow.get(\"SnSrIdxObj\");\n//var SnSrTab = flow.get(\"SnSrTab\");\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n\nvar membre = flow.get(\"membre\");\n\nvar msg1={}; var msg2={};\n\nvar prodmoy = Math.round(1000*60*60 * ((SnSrSimul.prodmoyidx - SnSr15Simul.prodmoyidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; // en W (Wh/ms)*1000*60*60//SnSrTab[4];\nvar prodmax = Math.round(1000*60*60 * ((SnSrSimul.prodmaxidx - SnSr15Simul.prodmaxidx) / (SnSrSimul.timestamp - SnSr15Simul.timestamp))) ; //SnSrTab[5]\n\nif (Math.abs(prodmoy) > membre.Pprod*1000*2) {prodmoy = 0;}\nif (Math.abs(prodmax) > membre.Pprod*1000*2) {prodmax = 0;}\n\nmsg1.payload = Math.round(prodmoy); //SnSr15Simul.prodmoyidx; //Math.round(SimulIdx[6]) - ProdMoy.prodmoy;\nmsg1.topic = 'bon_jour';\nmsg2.payload = Math.round(prodmax); //SnSr15Simul.prodmaxidx; //Math.round(SimulIdx[7]) - ProdMoy.prodmax;\nmsg2.topic = 'prodmax';\n\nSnSrSimul.soutiridx = Math.round(SnSrSimul.soutiridx);\nSnSrSimul.injectidx = Math.round(SnSrSimul.injectidx);\nSnSrSimul.prodidx = Math.round(SnSrSimul.prodidx);\nSnSrSimul.autoconsoidx = Math.round(SnSrSimul.autoconsoidx);\nSnSrSimul.prodmoyidx = Math.round(SnSrSimul.prodmoyidx); //SnSr15Simul.prodmoyidx //SnSrTab[4]\nSnSrSimul.prodmaxidx = Math.round(SnSrSimul.prodmaxidx); //SnSr15Simul.prodmaxidx //SnSrTab[5]\n//flow.set(\"SnSrTab\", SnSrTab);\nflow.set(\"SnSr15Simul\", SnSrSimul);\n\nreturn [msg1]; //ajouter prodmax si necessaire ...prends de la place sur le graphique","outputs":2,"noerr":0,"x":668,"y":653,"wires":[["8a890d6d.fb44"],[]]},{"id":"9ee7c5ee.d25a28","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":613,"y":540,"wires":[["3928cfae.e9aeb8"]]},{"id":"16734ee7.5eb6a9","type":"change","z":"fb700849.f2f53","name":"DeleteVariable","rules":[{"t":"delete","p":"IMP15","pt":"flow"},{"t":"delete","p":"ProdMoy","pt":"flow"},{"t":"delete","p":"SimulIdx","pt":"flow"},{"t":"delete","p":"SnSr15","pt":"flow"},{"t":"delete","p":"SnSrFlow","pt":"flow"},{"t":"delete","p":"SnSrIMP","pt":"flow"},{"t":"delete","p":"SnSrTIC","pt":"flow"},{"t":"delete","p":"SnSrIdx","pt":"flow"},{"t":"delete","p":"SnSrRefCurve","pt":"flow"},{"t":"delete","p":"TIC15","pt":"flow"},{"t":"delete","p":"SnSrTab","pt":"flow"},{"t":"delete","p":"consoIMPidx","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":88,"wires":[[]]},{"id":"6b21be0e.493698","type":"inject","z":"fb700849.f2f53","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":88,"wires":[["16734ee7.5eb6a9"]]},{"id":"c50bcba4.bfa3f","type":"function","z":"fb700849.f2f53","name":"INFLUX","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrIdxObj = flow.get('SnSrIdxObj');  //Au choix avec SnSrTab\nvar SnSrSimul = flow.get('SnSrSimul');\nvar membre = flow.get('membre');\n\nmsg.topic = SnSrIdxObj.TICtime;   //Au choix avec SnSrTab \nmsg.payload = \n    [{\n        measurement: \"soutiridx\",\n        fields:{soutiridx: SnSrIdxObj.soutiridx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"injectidx\",\n        fields:{injectidx: SnSrIdxObj.injectidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n     {\n        measurement: \"prodidx\",\n        fields:{prodidx: SnSrIdxObj.prodidx || 0},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    },\n    {\n        measurement: \"autoconsoidx\",\n        fields:{autoconsoidx: Math.min((-1 * (SnSrIdxObj.prodidx - SnSrIdxObj.injectidx)), 0)},\n        timestamp: SnSrIdxObj.TICstamp || 0\n    }]\n    \nreturn msg;\n // msg.payload = \n//{ tstamp: stamp2,\n // data: {\n //   Soutir15 : SnSrFlow2[3],\n \n //    Inject15 : SnSrFlow2[4],\n //   Prod15 : SnSrFlow2[8]\n   //   }\n\n\n//return [msg0, msg1, msg2, msg3, msg4, msg5] ;\n","outputs":6,"noerr":0,"x":734,"y":484,"wires":[["3f991848.fea998"],[],[],[],[],[]]},{"id":"577a4234.cee7fc","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":602,"y":483,"wires":[["c50bcba4.bfa3f"]]},{"id":"3f991848.fea998","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":903,"y":448,"wires":[]},{"id":"ce22bbb7.c5b348","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":941.9999389648438,"y":216.00003051757812,"wires":[]},{"id":"aa653c97.20233","type":"function","z":"fb700849.f2f53","name":"ChgtDate","func":"var SnSrIdxObj = msg.payload;\n\nvar timeNow = new Date(SnSrIdxObj.TICtime);\n\n//Changement de jour, total journalier\nvar hours  = timeNow.getHours();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\nif (hours == 23) // mis a jour 4 fois pendant la derniere heure du jour\n    {var SnSrHier = RED.util.cloneMessage(flow.get('SnSrHier'));\n    var exyear = SnSrHier.yesterday.getFullYear();\n    var exdate = SnSrHier.yesterday.getDate();\n    var soutirj = SnSrHier.soutirhier; \n    var injectj = SnSrHier.injecthier;\n    var autoconsoj = SnSrHier.autoconsohier;\n    var consoj = SnSrHier.consohier;\n    var prodj = SnSrHier.prodhier;\n\n    \n        if (exdate != thisdate) // seulement au premier passage\n         {var autoconsoj = 0;\n        var soutirj = 0; \n        var injectj = 0;\n        var prodj = 0;\n        }\n        \n    // soutirage, injection, autoconsommation, consommation, production\n    var autoconsoj = autoconsoj + (SnSrIdxObj.prodidx - SnSrHier.prodidx) - (SnSrIdxObj.injectidx - SnSrHier.injectidx);\n    var soutirj = soutirj + (SnSrIdxObj.soutiridx - SnSrHier.soutiridx);\n    var injectj = injectj + (SnSrIdxObj.injectidx -  SnSrHier.injectidx);\n    var prodj =  prodj + (SnSrIdxObj.prodidx - SnSrHier.prodidx);\n    \n    SnSrHier.yesterday = SnSrIdxObj.TICstamp;\n    SnSrHier.soutirhier = soutirj; //soutir\n    SnSrHier.injecthier = injectj; //inject\n    SnSrHier.autoconsohier = prodj - injectj; //autoconso\n    SnSrHier.consohier = soutirj + prodj - injectj; //conso\n    SnSrHier.prodhier = prodj;  //prod\n    SnSrHier.soutiridx = SnSrIdxObj.soutiridx; //SoutirIdx\n    SnSrHier.injectidx = SnSrIdxObj.injectidx; //InjectIdx\n    SnSrHier.prodidx = SnSrIdxObj.prodidx; //ProdIdx\n\n    flow.set('SnSrHier', SnSrHier);\n\n    var SnSrCoin = flow.get('SnSrCoin');\n    var SnSrPile = injectj - soutirj;\n    SnSrCoin[1] += Math.round(SnSrPile/1000);\n    flow.set('SnSrCoin', SnSrCoin);\n\n    \n    // changement d'année, remise a 0 à 23:00 le 01 janvier\n    \n    if ((exyear +1) == thisyear) \n        {flow.set('SnSrCoin', [SnSrCoin[1], 0, thisyear]);\n        }\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"x":877.9999847412109,"y":723,"wires":[[]]},{"id":"86798cfa.7f8078","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":480,"wires":[]},{"id":"781ad254.217eac","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":580,"wires":[["577a4234.cee7fc","9ee7c5ee.d25a28","311b0337.e1c6bc","bea11d51.effd88"]]},{"id":"bea11d51.effd88","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":527.8957977294922,"y":672.8888854980469,"wires":[["bc92254e.249e38"]]},{"id":"fb184fdf.525f38","type":"function","z":"fb700849.f2f53","name":"blank[]","func":"\nvar blank = []\nmsg.payload = blank;\nreturn msg;","outputs":1,"noerr":0,"x":757.2666015625,"y":614.2333374023438,"wires":[[]]},{"id":"958ff5cb.937b18","type":"inject","z":"fb700849.f2f53","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":586.7666015625,"y":615,"wires":[["fb184fdf.525f38"]]},{"id":"677c0896.09e63","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":998.3333129882812,"y":289.3333435058594,"wires":[["62469e5f.5d3368"]]},{"id":"fb27151e.3868e8","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":993.3333129882812,"y":258.3333435058594,"wires":[["6517362a.39a148"]]},{"id":"3faeca94.70160e","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":360,"wires":[["6b41ad21.57e87c"]]},{"id":"b1e13e78.971438","type":"inject","z":"fb700849.f2f53","name":"SIMULstamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"5","x":150,"y":334,"wires":[["513abc9d.9607a4"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"bf96a90f.253c18","type":"function","z":"fb700849.f2f53","name":"SIMULtic","func":"\nif (msg.payload == 'IMPULSION') {return;}\n\n//var trame_tic = 'SE      \tFEAST\t006877052\t2EASF01\t006877052\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t\\'EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006877052\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t#IRMS1\t002\t0URMS1\t233\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nvar trame_tic = ' #ADSC\t021675051387\t:VTIC\t02\tJDATE\tE181026224009\t\tANGTF\t      BASE      \t<LTARF\t      BASE      \tFEAST\t006999999\t2EASF01\t006999999\tEEASF02\t000000000\t#EASF03\t000000000\t$EASF04\t000000000\t%EASF05\t000000000\t&EASF06\t000000000\t&EASF07\t000000000\t(EASF08\t000000000\t)EASF09\t000000000\t*EASF10\t000000000\t\"EASD01\t006999999\tCEASD02\t000000000\t!EASD03\t000000000\t\"EASD04\t000000000\t\"EAIT\t006999999\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\tUSMAXSN\tE181026220457\t02630\t;SMAXSN-1\tE181025112615\t02250\tRCCASN\tE181026223000\t00800\t9CCASN-1\tE181026220000\t01024\tSUMOY1\tE181026224000\t230\t*STGE\t002A0001\t9MSG1\t     PAS DE          MESSAGE    \t<PRM\t14282923268426\t<RELAIS\t000\tBNTARF\t01\tNNJOURF\t00\t&NJOURF+1\t00\tBPJOURF+1\t00008001 NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE NONUTILE\t9 ';\nmsg.topic = null;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6877052, 99, minutes, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 0, minutes, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null])\n\n//var TIC15 = flow.get(\"TIC15\");\n//var SimulIdx = flow.get(\"SimulIdx\");\nvar SnSrSimul = RED.util.cloneMessage(flow.get(\"SnSrSimul\"));\n\nvar rand = Math.random();\n\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\");\nvar DATEdebut=trame_tic.substring(lDATE,lDATE+tDATE.length+1);\nvar DATEtout=trame_tic.substring(lDATE,lDATE+tDATE.length+1+13);\n\nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\");\nvar EASTdebut=trame_tic.substring(lEAST,lEAST+tEAST.length+1);\nvar EASTtout=trame_tic.substring(lEAST,lEAST+tEAST.length+1+9);\nvar EAST=trame_tic.substring(lEAST+tEAST.length+1, lEAST+tEAST.length+1+9);\nvar nEAST = parseInt(EAST, 10);\n\nvar tEAIT=\"EAIT\"\nvar lEAIT=trame_tic.indexOf(\"EAIT\");\nvar EAITdebut=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1);\nvar EAITtout=trame_tic.substring(lEAIT,lEAIT+tEAIT.length+1+9);\nvar EAIT=trame_tic.substring(lEAIT+tEAIT.length+1, lEAIT+tEAIT.length+1+9);\nvar nEAIT = parseInt(EAIT, 10);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\");\nvar URMS1=trame_tic.substring(lURMS1+tURMS1.length+1,lURMS1+tURMS1.length+1+3);\nvar nURMS1=parseInt(URMS1, 10);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\");\nvar PREF=trame_tic.substring(lPREF+tPREF.length+1,lPREF+tPREF.length+1+2);\nvar nPREF=parseInt(PREF, 10);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\");\nvar SINSTS=trame_tic.substring(lSINSTS+tSINSTS.length+1,lSINSTS+tSINSTS.length+1+5);\nvar nSINSTS=parseInt(SINSTS, 10);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\");\nvar PRM=trame_tic.substring(lPRM+tPRM.length+1,lPRM+tPRM.length+1+14);\n\n// LINKYSTAMP YYMMDDhhmmss\nvar timeNow = new Date(msg.timenow);\nvar annee = timeNow.getFullYear()-2000\nvar mois = timeNow.getMonth()+1 // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate()\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n\nvar LINKYDATE = DATEdebut + \"E\" + timeString ; // Date du jour au format LINKY\nnURMS1 = nURMS1 - 10 + Math.floor(20 * 2 *rand); // variation de +- 20v\n\nnSINSTS = Math.floor(nSINSTS * 2* rand);\nvar t2SINSTS = nSINSTS.toString();\nfor (i=t2SINSTS.length; i<5; i++)\n    {t2SINSTS = '0' + t2SINSTS;}\n\nnEAST = Math.round(SnSrSimul.soutiridx);//SimulIdx[1]);\nvar t2EAST = nEAST.toString();\nfor (i=t2EAST.length; i<9; i++)\n    {t2EAST = '0' + t2EAST;}\n\nnEAIT =  Math.round(SnSrSimul.injectidx);//SimulIdx[2]);\nvar t2EAIT = nEAIT.toString();\nfor (i=t2EAIT.length; i<9; i++)\n    {t2EAIT = '0' + t2EAIT;}\n\n\nvar TICdebut = trame_tic.substring(0, lDATE);\nvar DATEEAST = trame_tic.substring(lDATE+tDATE.length+1+13, lEAST+tEAST.length+1);\nvar EASTEAIT = trame_tic.substring(lEAST+tEAST.length+1+9, lEAIT+tEAIT.length+1);\nvar EAITSINSTS = \"\t#IRMS1\t002\t0URMS1\t\" + nURMS1 + \"\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t\"; \n// \"EASD04\t000000000\t\"EAIT\t695847123\t#IRMS1\t002\t0URMS1\t223\tBPREF\t06\tEPCOUP\t06\t_SINSTS\t00492\nvar SINSTSfin = trame_tic.substring(lSINSTS+tSINSTS.length+1+5, trame_tic.length);\n var LINKYEAST = EASTdebut + t2EAST.toString() ; // un mot\n// on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\ntrame_tic = TICdebut + LINKYDATE + DATEEAST + t2EAST + EASTEAIT + t2EAIT + EAITSINSTS + t2SINSTS + SINSTSfin;\n\n//trame_tic.replace(EASTtout, LINKYEAST);\n//trame_tic.replace(LINKYDATE, DATEtout);\n\n\n// EStimation du surplus injecté ds le réseau\n//var hRAD = pi() / (hours - 12) // heure en radian ??\n//if ((hours <= 20) && (hours >= 6)) \n //   {nEAIT = nEAIT + 2 x Math.sin(hRAD);} // moyenne de 1\n\n// reconstruction de la trame TIC\nmsg.test = [LINKYDATE, PRM, t2EAIT];\nmsg.payload = trame_tic; //[DATEtout, LINKYDATE, EASTtout, LINKYEAST];\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["eb99abf2.92bea8"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"513abc9d.9607a4","type":"function","z":"fb700849.f2f53","name":"simul3index","func":"\n\n\n//Injection condiérée comme consommation ds un premier temps\n//Conso = 3 784 320 Wh/an -> 10 000 Wh/j dont 6 sur 06h-18h et 4 la nuit\n// Prod = 3650 kWh/an -> 10 000 Wh/j sur 06h-18h selon parabole\n//Il faudrait utiliser une variable globale pour la date depuis la derniere mesure\n// Par défaut, pas de 10s, plateau de 1Wh/10s la nuit et moyenne de 1,4 le jour\n\nvar msg1 = {};\nvar msg2 = {};\nvar membre = flow.get('membre');\n\n//1 minute correspond à une heure pour accélérer le graphe\nvar onTime= flow.get(\"onTime\");//timestamp du démarrage de la machine\nvar timeNow = msg.payload; // onTime.getTime() - 365*24*60*60*1000 + (msg.payload - onTime.getTime())*60 ; //  = msg.payload; // Recul d'un an dans le temps et accélération 1s = 1min => x60x15\n\ntimeNow = new Date(timeNow);\nmsg.timenow = timeNow.getTime(); //timestamp\nmsg.simul = \"SIMULATION\";\n\n//var SimulIdx = flow.get(\"SimulIdx\");\n//var TAB = [msg.timenow, 0, 0, 0, 0, timeNow]; // timeNow, soutir, inject, prod, autoconso\n\nvar SnSrSimul= flow.get(\"SnSrSimul\");\n\nvar conso = 0;\nvar soutir = 0;\nvar inject = 0;\nvar prod = 0;\nvar autoconso = 0;\n\nvar rand = Math.random()/5; //moyenne 0,1\nvar rand1 = Math.round(Math.random()); // 0 ou 1 \n\nvar puis = 3; // puissance de l'onduleur en kWc\nvar productible = 1200; // productible en kWh/kWc\n// prod en parabole\n// puis(kWca) x 1000/2,3955 x (-1 x ((hours-12)/6)^2 + 1)\n// mettre la variable dans msg.count comme le node impulsion\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar secondes = timeNow.getSeconds();\n\n// Table des paramètres solaires des jours et d'énergie\n// Pour chaque mois : Nojour, date21, lever, coucher, facteur de production (CS de ENEDIS dans profil PRD3)\n// source : http://calendriersolaire.com/fr/paris\n\nvar SunCal = [];\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[0] = SunCal[12]\nSunCal.push([21,'20180121','083301','173100',0.388]);// SunCal[1]\nSunCal.push([52,'20180221','074648','182127',0.758]);// SunCal[2]\nSunCal.push([80,'20180321','065008','190508',1.054]);// SunCal[3]\nSunCal.push([111,'20180421','064703','205123',1.3]);// SunCal[4]\nSunCal.push([141,'20180521','060050','213335',1.476]);// SunCal[5]\nSunCal.push([172,'20180621','054659','215758',1.576]);// SunCal[6]\nSunCal.push([202,'20180721','0601032','214333',1.541]);// SunCal[7]\nSunCal.push([233,'20180821','065224','205452',1.352]);// SunCal[8]\nSunCal.push([264,'20180921','073618','195045',1.107]);// SunCal[9]\nSunCal.push([294,'20181021','082049','184929',0.768]);// SunCal[10]\nSunCal.push([325,'20181121','080920','170347',0.392]);// SunCal[11]\nSunCal.push([355,'20181221','084123','165620',0.294]);// SunCal[12]\nSunCal.push([386,'20180121','083301','173100',0.388]);// SunCal[13] = SunCal[1]\n\n// mois - 1 car la fonction prends des mois de 0 a 11\nvar LeverSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][2].substring(0,2)), parseInt(SunCal[mois][2].substring(2,4)), parseInt(SunCal[mois][2].substring(4,6)));\nvar CoucherSoleil = new Date(annee, mois-1, jour, parseInt(SunCal[mois][3].substring(0,2)), parseInt(SunCal[mois][3].substring(2,4)), parseInt(SunCal[mois][3].substring(4,6)));\n\nif (jour < 21) {var mois2 = mois - 1;}\n    else {var mois2 = mois + 1;}\nif (mois2 == 13) {mois2= 1;}\nif (mois2 === 0) {mois2= 12;}\n\n//var LeverSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][2].substring(0,2)), parseInt(SunCal[mois2][2].substring(2,4)), parseInt(SunCal[mois2][2].substring(4,6)));\n//var CoucherSoleil2 = new Date(annee, mois2-1, jour, parseInt(SunCal[mois2][3].substring(0,2)), parseInt(SunCal[mois2][3].substring(2,4)), parseInt(SunCal[mois2][3].substring(4,6)));\n\nvar dateNow = timeNow.getTime();\nvar millidate = SnSrSimul.timestamp; //SimulIdx[0]; \n\nif ((hours < 6 ) || (hours > 18))\n    { conso = ((dateNow - millidate)/1000)*rand;} //1 Wh pour 10s la nuit\n    else { conso = ((dateNow - millidate)/1000) * 0.28 * (rand+rand1);}// moyenne de + 1,4 Wh / 10s le jour\n\n//***** PRODUCTION enveloppe pour un jour type\n// centrés sur 13h00, prodmoy (CS=1, jour de 12h) et prodmax (CS = Pprod en kWc, jour de 14h)\n//A vérifier : decalage horaire avec GMT ??\nvar prodmoy = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis/2 * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\nvar prodmax = Math.max((((dateNow - millidate)/(1000*60*60)) * (puis * puis * 1000/2.3955 * (-1 * (Math.pow(((((hours*60+minutes)/60)-13)/7),2)) + 1))), 0);\n\n//*****FORMULE ADAPTEE AU PROFIL ENEDIS => PRENDS EN COMPTE SunCal\n// Interpolation linéaire approximative entre 2 dates pour former le graphique\n\nvar CS = SunCal[mois][4];\nvar CS2 = SunCal[mois2][4];\n\nCS = CS + ((21-jour)*(CS-CS2)/Math.abs(SunCal[mois2][0] - SunCal[mois][0]));\n\n//17Avril2019 timeNow.getTime\nvar Jour100 = Math.round(100*(timeNow.getTime() - LeverSoleil.getTime())/(CoucherSoleil.getTime() - LeverSoleil.getTime()));\nvar parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar facteurP = puis * productible * facteurX /(365*24); // facteur de puissance sans unité\nvar DeltaT = (dateNow - millidate)/(1000*60*60); //durée en fraction d'heure pour calculer des kWh par la suite => vaut env. 4000/(1000*60*60) à 15000/(1000*60*60)\nprod = Math.max((DeltaT * facteurP * parabole * CS), 0); // 0 avant et après le coucher du soleil car parabole <0 la nuit\n\n//evacuer les valeur abérentes (inititalisation);\nif (Math.abs(prod) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(soutir) > membre.Psoutir*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(inject) > membre.Pprod*1000) {prod = 0; soutir = 0;inject = 0;conso = 0;}\nif (Math.abs(conso) > membre.Psoutir*1000){prod = 0; soutir = 0;inject = 0;conso = 0;}\n\n// Calcul des variables de la courbe à afficher\n\nif (prod <= 0) // LA NUIT\n    {prod = 0;\n    autoconso = 0;\n    inject = 0;\n    soutir = conso;\n    }\n    else {if (prod < conso) \n            {soutir = conso - prod;\n            inject = 0;\n            autoconso = prod;\n            }\n            else  // prod > conso CAS GENERAL\n            {soutir = 0;\n            autoconso =  conso;\n            inject = prod - conso;\n            }\n        }\n\n\n // on peut aussi utiliser EASTdebut.concat(nEAST) (1 seul argument)\n\n//TAB = [msg.timenow, SimulIdx[1] + soutir, SimulIdx[2] + inject, SimulIdx[3] + prod, SimulIdx[4] + autoconso, timeNow, SimulIdx[6] + prodmoy, SimulIdx[7] + prodmax];\n//flow.set (\"SnSrSimul\", {\"timestamp\": timeNow.getTime(),\"time\":timeNow, \"soutiridx\": soutiridx + soutir, \"injectidx\": injectidx + inject, \"prodidx\": prodidx + prod, \"autoconsoidx\": autoconsoidx + autoconso, \"prodmoyidx\": prodmoyidx + prodmoy, \"prodmaxidx\": prodmaxidx + prodmax});\n\nSnSrSimul.timestamp = timeNow.getTime();\nSnSrSimul.time = timeNow;\nSnSrSimul.soutiridx = SnSrSimul.soutiridx + soutir;\nSnSrSimul.injectidx = SnSrSimul.injectidx + inject;\nSnSrSimul.prodidx = SnSrSimul.prodidx + prod;\nSnSrSimul.autoconsoidx = SnSrSimul.autoconsoidx + autoconso;\nSnSrSimul.prodmoyidx = SnSrSimul.prodmoyidx + prodmoy;\nSnSrSimul.prodmaxidx = SnSrSimul.prodmaxidx + prodmax;\n\n//flow.set(\"SimulIdx\", TAB);\nflow.set(\"SnSrSimul\", SnSrSimul);\nmsg2.SnSrSimul = SnSrSimul;\nmsg2.payload = 'SIMUL';\nmsg2.count = SnSrSimul.prodidx;\nmsg2.tab=[msg.timenow, soutir, inject, prod, autoconso, timeNow, conso, DeltaT, facteurP, parabole];\nmsg2.timenow = msg.timenow;\nmsg2.simul = msg.simul;\n   \nreturn msg2;\n\n","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["bf96a90f.253c18","68436d0c.c7931c","874a8321.9feba8","3faeca94.70160e","a5d79e5e.60f9e"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"68436d0c.c7931c","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"simul","x":115,"y":230,"wires":[]},{"id":"874a8321.9feba8","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"timenow","x":145,"y":250,"wires":[]},{"id":"a5d79e5e.60f9e","type":"debug","z":"fb700849.f2f53","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tab","x":107.84028625488281,"y":200.32986450195312,"wires":[]},{"id":"9b62ed95.e4a9c8","type":"delay","z":"fb700849.f2f53","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":280,"wires":[["333e22a4.8cbebe"]]},{"id":"25c37c2c.58816c","type":"inject","z":"fb700849.f2f53","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["746cdf7.8b5f4a"]]},{"id":"44bba8a5.d27ae8","type":"function","z":"fb700849.f2f53","name":"Create UUID","func":"flow.set (\"UUID\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[[]]},{"id":"5df7efdb.a4e4d8","type":"inject","z":"fb700849.f2f53","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1020,"wires":[["59b55282.d288dc"]]},{"id":"59b55282.d288dc","type":"function","z":"fb700849.f2f53","name":"Recuperation des donnees","func":"var prod = flow.get(\"SnSrIdxObj\")\n\nvar ret = {};\nret.payload = \"{\\\"production\\\":\" + prod.prodidx + \",\" + \n    \"\\\"consumption\\\":\" + prod.prodidx - prod.injectidx + \",\" +\n    \"\\\"raspberry_mac\\\":\"+ flow.get(\"UUID\") +\n    \"}\"\n\nreturn ret;","outputs":1,"noerr":0,"x":360,"y":1020,"wires":[["638b74e.6312f0c"]]},{"id":"638b74e.6312f0c","type":"http request","z":"fb700849.f2f53","name":"envoie sur le serveur","method":"POST","ret":"txt","paytoqs":false,"url":"http://51.77.146.123:80/api/v1/energy/","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":1020,"wires":[[]]},{"id":"65cfeac6.5c88cc","type":"influxdb out","z":"da5d45d2.a3a2d","influxdb":"caa9f6e0.9630c8","name":"","measurement":"","precision":"","retentionPolicy":"","x":1100,"y":860,"wires":[]},{"id":"25931a73.c8c34e","type":"influxdb batch","z":"da5d45d2.a3a2d","influxdb":"cf21af75.1205","precision":"ms","retentionPolicy":"","name":"","x":1100,"y":900,"wires":[]},{"id":"136f6aa2.ff0f05","type":"influxdb batch","z":"95a58565.467e6","influxdb":"cf21af75.1205","precision":"ms","retentionPolicy":"","name":"","x":920,"y":240,"wires":[]},{"id":"746cdf7.8b5f4a","type":"uuid","z":"fb700849.f2f53","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload","fieldType":"msg","x":270,"y":920,"wires":[["44bba8a5.d27ae8"]]},{"id":"321ae0ec.6bdd98","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":1,"width":0,"height":0,"name":"Date","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":997,"y":552,"wires":[]},{"id":"9f7a28ca.3da8a","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":3,"width":0,"height":0,"name":"Autoconsommation","label":"Autoconso.","format":"{{msg.payload}} kWh","layout":"row-spread","x":1137,"y":612,"wires":[]},{"id":"217b6200.3efd9e","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":4,"width":0,"height":0,"name":"Production","label":"Production","format":"{{msg.payload}} kWh","layout":"row-spread","x":1077,"y":632,"wires":[]},{"id":"dda0a93c.a308e","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":5,"width":0,"height":0,"name":"Injection","label":"Injection","format":"{{msg.payload}} kWh","layout":"row-spread","x":1047,"y":592,"wires":[]},{"id":"fc46d485.1d4658","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":6,"width":0,"height":0,"name":"Tirelire","label":"Tirelire","format":"{{msg.payload}} kWh","layout":"row-spread","x":1117,"y":652,"wires":[]},{"id":"50fbe50c.cad87c","type":"ui_text","z":"da5d45d2.a3a2d","group":"24ef1386.df784c","order":0,"width":0,"height":0,"name":"SoutirIdx","label":"SoutirIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1180,"y":298,"wires":[]},{"id":"7b4f0505.093984","type":"ui_text","z":"da5d45d2.a3a2d","group":"24ef1386.df784c","order":0,"width":0,"height":0,"name":"InjectIdx","label":"InjectIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1180,"y":334,"wires":[]},{"id":"b33e5f7a.9b288","type":"ui_text","z":"da5d45d2.a3a2d","group":"24ef1386.df784c","order":0,"width":0,"height":0,"name":"ProdIdx","label":"ProdIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1180,"y":371,"wires":[]},{"id":"7635f818.0d9778","type":"ui_text","z":"da5d45d2.a3a2d","group":"f2cedd3c.ffa39","order":2,"width":0,"height":0,"name":"Soutirage","label":"Soutirage","format":"{{msg.payload}} kWh","layout":"row-spread","x":1027,"y":572,"wires":[]},{"id":"2b60b10b.556b76","type":"ui_text","z":"da5d45d2.a3a2d","group":"24ef1386.df784c","order":0,"width":0,"height":0,"name":"ConsoIdx","label":"ConsoIdx","format":"{{msg.payload}} kWh","layout":"row-spread","x":1180,"y":410,"wires":[]},{"id":"33674a30.e6cd26","type":"ui_text","z":"3b0b656d.7c43fa","group":"65d6367e.683a2","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":830,"y":420,"wires":[]},{"id":"ba539fab.7e5eb8","type":"ui_text","z":"da5d45d2.a3a2d","group":"20e4a127.1e07e6","order":1,"width":0,"height":0,"name":"description","label":"","format":"{{msg.payload}}","layout":"row-left","x":727,"y":425,"wires":[]},{"id":"494e9315.afabdc","type":"ui_text","z":"fb700849.f2f53","group":"24ef1386.df784c","order":1,"width":"","height":"","name":"Date","label":"","format":"{{msg.payload}}","layout":"","x":930,"y":500,"wires":[]},{"id":"579b38ff.2740f8","type":"ui_text","z":"fb700849.f2f53","group":"9603998f.32be8","order":3,"name":"Autoconsommation","format":"{{msg.payload}} kWh","x":1070,"y":560,"wires":[]},{"id":"89200a42.b3c59","type":"ui_text","z":"fb700849.f2f53","group":"9603998f.32be8","order":4,"name":"Production","format":"{{msg.payload}} kWh","x":1010,"y":580,"wires":[]},{"id":"a342880e.2739e","type":"ui_text","z":"fb700849.f2f53","group":"9603998f.32be8","order":5,"name":"Injection","format":"{{msg.payload}} kWh","x":980,"y":540,"wires":[]},{"id":"381945e0.d5a2ea","type":"ui_text","z":"fb700849.f2f53","group":"9603998f.32be8","order":6,"name":"Tirelire","format":"{{msg.payload}} kWh","x":1050,"y":600,"wires":[]},{"id":"35075c33.793dd4","type":"ui_text","z":"fb700849.f2f53","group":"3b1f5801.e7e958","order":0,"name":"SoutirIdx","format":"{{msg.payload}} kWh","x":1160.9999389648438,"y":329,"wires":[]},{"id":"9083807a.4a79a8","type":"ui_text","z":"fb700849.f2f53","group":"3b1f5801.e7e958","order":0,"name":"InjectIdx","format":"{{msg.payload}} kWh","x":1160.9999389648438,"y":345,"wires":[]},{"id":"46730e4.633bff","type":"ui_text","z":"fb700849.f2f53","group":"3b1f5801.e7e958","order":0,"name":"ProdIdx","format":"{{msg.payload}} kWh","x":1160.9999389648438,"y":369,"wires":[]},{"id":"8147e2d4.8d80a","type":"ui_text","z":"fb700849.f2f53","group":"9603998f.32be8","order":2,"name":"Soutirage","format":"{{msg.payload}} kWh","x":960,"y":520,"wires":[]},{"id":"c37d3fca.d25c3","type":"ui_gauge","z":"da5d45d2.a3a2d","name":"","group":"986d3ede.d7883","order":0,"width":"4","height":"3","gtype":"gage","title":"Tension eff. - URMS1","label":"V","format":"{{value}}","min":"215","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"225","seg2":"230","x":1215,"y":231,"wires":[]},{"id":"9fd6c543.044fd8","type":"ui_gauge","z":"da5d45d2.a3a2d","name":"","group":"986d3ede.d7883","order":0,"width":"4","height":"3","gtype":"gage","title":"Puis.App. SINSTS","label":"Watt / VA","format":"{{value}}","min":"100","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"1000","x":1207,"y":262,"wires":[]},{"id":"59707d7a.9e12ac","type":"ui_gauge","z":"3b0b656d.7c43fa","name":"","group":"4fc1472.ffe3038","order":11,"width":"4","height":"4","gtype":"gage","title":"Max temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008080","#ca3838"],"seg1":"5","seg2":"25","x":840,"y":180,"wires":[]},{"id":"9d4e9b5c.8470c","type":"ui_gauge","z":"3b0b656d.7c43fa","name":"","group":"4fc1472.ffe3038","order":11,"width":"4","height":"4","gtype":"gage","title":"Current temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008040","#ca3838"],"seg1":"5","seg2":"25","x":850,"y":240,"wires":[]},{"id":"78cd4fd.2cde2b","type":"ui_gauge","z":"3b0b656d.7c43fa","name":"","group":"4fc1472.ffe3038","order":11,"width":"4","height":"4","gtype":"gage","title":"Min temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008080","#ca3838"],"seg1":"5","seg2":"25","x":840,"y":300,"wires":[]},{"id":"6517362a.39a148","type":"ui_gauge","z":"fb700849.f2f53","name":"","group":"52a9d9ea.1e9a18","order":0,"format":"{{value}}","min":"215","max":"240","x":1188,"y":259,"wires":[]},{"id":"62469e5f.5d3368","type":"ui_gauge","z":"fb700849.f2f53","name":"","group":"52a9d9ea.1e9a18","order":0,"format":"{{value}}","min":"100","max":"2000","x":1180,"y":290,"wires":[]},{"id":"3bd1fa9e.27b346","type":"ui_chart","z":"da5d45d2.a3a2d","name":"","group":"4bc8e5a4.d9a6fc","order":0,"width":"6","height":"4","label":"SnSr15","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#98df8a","#848585","#17a822","#eb7b16","#1f77b4","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1035,"y":737,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"f7915f9e.5ec328","type":"ui_chart","z":"da5d45d2.a3a2d","name":"","group":"4bc8e5a4.d9a6fc","order":0,"width":"6","height":"5","label":"SnSr15b","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":"20","useOneColor":false,"colors":["#fcfc44","#258bd1","#eb7b16","#1c5e8b","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1030,"y":710,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"be69abad.2a0bd","type":"ui_chart","z":"3b0b656d.7c43fa","name":"","group":"e24eaee7.9a35d","order":1,"width":"14","height":"8","label":"Temp in degrees C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":870,"y":360,"wires":[[],[]]},{"id":"b9f6b6a.d5a0e48","type":"ui_chart","z":"da5d45d2.a3a2d","name":"nébulosité","group":"20e4a127.1e07e6","order":0,"width":0,"height":0,"label":"nébulosité","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":727,"y":385,"wires":[[],[]]},{"id":"334c7bc3.f4a7cc","type":"ui_chart","z":"3b0b656d.7c43fa","name":"test","group":"e24eaee7.9a35d","order":0,"width":0,"height":0,"label":"test","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#b41f4e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":970,"y":600,"wires":[[],[]]},{"id":"200c7299.fcf61e","type":"ui_chart","z":"3b0b656d.7c43fa","name":"","group":"e24eaee7.9a35d","order":0,"width":0,"height":0,"label":"nébul5j","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#6d7072","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":980,"y":720,"wires":[[],[]]},{"id":"1075bb37.0ad335","type":"ui_chart","z":"fb700849.f2f53","name":"","group":"9718a0cf.95a288","order":0,"interpolate":"linear","nodata":"","removeOlder":"2","removeOlderUnit":"86400","outputs":2,"x":968,"y":685,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"8a890d6d.fb44","type":"ui_chart","z":"fb700849.f2f53","name":"","group":"9718a0cf.95a288","order":0,"interpolate":"linear","nodata":"","removeOlder":"2","removeOlderUnit":"86400","outputs":2,"x":963,"y":658,"wires":[[],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"a302a3db.6148e8","type":"ui_template","z":"3b0b656d.7c43fa","group":"65d6367e.683a2","name":"Weather icon","order":1,"width":"4","height":"4","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":480,"wires":[[]]},{"id":"d8e8e3e1.e61388","type":"ui_template","z":"da5d45d2.a3a2d","group":"20e4a127.1e07e6","name":"Weather icon","order":2,"width":"4","height":"4","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":737,"y":465,"wires":[[]]},{"id":"d0f14903.a353c8","type":"ui_template","z":"3b0b656d.7c43fa","group":"5e8316a4.41c1","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":840,"wires":[[]]},{"id":"17f3a4d2.1ec5f3","type":"openweathermap","z":"3b0b656d.7c43fa","name":"météo","wtype":"current","lon":"","lat":"","city":"Orvault","country":"FR","language":"fr","x":410,"y":300,"wires":[["6be06e1e.dd9b3","f8d1ac5a.556848"]]},{"id":"f52f8d7.afa6ef","type":"openweathermap","z":"da5d45d2.a3a2d","name":"météo demain","wtype":"current","lon":"","lat":"","city":"Orvault","country":"FR","language":"fr","x":377,"y":425,"wires":[["17648267.c3c186","f5560fbc.38977"]]},{"id":"f202f98c.1cb4e","type":"openweathermap","z":"3b0b656d.7c43fa","name":"météo5j","wtype":"forecast","lon":"","lat":"","city":"Orvault","country":"FR","language":"fr","x":600,"y":740,"wires":[["28450448.741a94","7e2a0f97.77f828"]]},{"id":"647ec94a.534278","type":"rpi-gpio in","z":"da5d45d2.a3a2d","name":"impuls","pin":"18","intype":"up","debounce":"25","read":false,"x":169.75001525878906,"y":284.75001525878906,"wires":[["bb5456eb.596d18"]]},{"id":"73f52b05.a9fcdc","type":"rpi-gpio in","z":"da5d45d2.a3a2d","name":"impulse2","pin":"29","intype":"up","debounce":"25","read":false,"x":179.3833770751953,"y":334.0334167480469,"wires":[["672ba987.74843"]]},{"id":"e712776.bdd0188","type":"serial in","z":"da5d45d2.a3a2d","name":"TICserial","serial":"a09c3503.bd3358","x":170.75001525878906,"y":187.75001525878906,"wires":[["e4226a04.8eaa1","b70dcf20.133618"]]},{"id":"bb5456eb.596d18","type":"counter","z":"da5d45d2.a3a2d","name":"PROD_impulsion","x":359.2500762939453,"y":274.00001525878906,"wires":[["f8959d33.d8b5a","9da51ebc.7cd22"]],"outputLabels":["msg1.payload"]},{"id":"672ba987.74843","type":"counter","z":"da5d45d2.a3a2d","name":"PROD_impulsion","x":365.3167266845703,"y":341.5667266845703,"wires":[["9da51ebc.7cd22","72f84f31.b17038"]],"outputLabels":["msg1.payload"]},{"id":"259d061c.74e012","type":"counter","z":"95a58565.467e6","name":"","x":470.74998474121094,"y":238.86663818359375,"wires":[["6e679180.1050b8"]]}]